<div ng-show="auth.popup.showPopup" class="auth-popup box-center">
   <div class="popup-modal vertical-mid-container">
      <div class="popup-content padding vertical-mid-inner">
         <div class="popup-icon">
            <img src="app/img/checkmark.png" class="full-image" />
         </div>
         <div class="subtitle text-center">
            <div class="title">{{auth.popup.title}}</div>
            <div class="desc">
               <span>A link have been sent to you email address ({{auth.popup.receiverEmail}}).</span>
               <br/>
               <span>If you can not find the link check you spam folder.</span>
            </div>
         </div>
         <div class="form-item form-item-margin-4x">
            <button ui-sref="{{auth.popup.okUri}}" md-ink-ripple="md-ink-ripple" class="btn button">{{auth.popup.okText}}</button>
         </div>
         <div class="form-item form-item-margin-2x text-right"><a ng-click="auth.popup.resendLink()" class="form-link">Resend link here</a>
         </div>
      </div>
   </div>
</div>