.letter-avatar {
  background-color: orange;
  border-radius: 50%;
  text-align: center;
  height: 50px;
  width: 50px;
}
.letter-avatar span {
  padding-top: 5px;
  display: block;
  font-size: 25px;
  color: whitesmoke;
}
