body .whirl {
  position: relative;
}
body .whirl:before {
  content: attr(data-spinner-text);
  display: block;
  background-color: #f0f0f0;
  opacity: 0.7;
}
body .whirl.solid {
  opacity: 1;
}
body .whirl:after {
  border-top-color: #3f51b5;
}
body .whirl.blade:after {
  border-bottom-color: #3f51b5;
}
body .whirl.double-up:after {
  border-left-color: #3f51b5;
  border-top-color: #3f51b5;
  border-right-color: #3f51b5;
  border-bottom-color: #3f51b5;
}
body .whirl.duo:after {
  border-left-color: #3f51b5;
  border-right-color: #3f51b5;
  border-top-color: #673ab7;
  border-bottom-color: #673ab7;
}
body .whirl.helicopter:after {
  background-color: #3f51b5;
}
body .whirl.ringed:after {
  border-left-color: #2196f3;
  border-top-color: #673ab7;
  border-right-color: #673ab7;
  border-bottom-color: #673ab7;
}
body .whirl.traditional:after {
  border-left-color: #2196f3;
  border-top-color: #2196f3;
  border-right-color: #673ab7;
  border-bottom-color: #ffeb3b;
}
body .whirl.line:after {
  box-shadow: inset 10px 0px 0px rgba(63, 81, 181, 0.5);
}
.no-cssanimations body .whirl:before {
  opacity: .9;
}
.no-cssanimations body .whirl:after {
  content: "Loading...";
  width: 40px;
  height: 40px;
  margin: -20px -20px 0 0;
  line-height: 40px;
  color: #000;
  opacity: 1;
  border: 0;
  box-shadow: 0 0 0 #000;
  background-color: transparent;
  text-align: center;
}
body .ball-pulse > div,
body .ball-grid-pulse > div,
body .square-spin > div,
body .ball-pulse-rise > div,
body .ball-rotate > div,
body .ball-rotate > div:before,
body .ball-rotate > div:after,
body .cube-transition > div,
body .ball-zig-zag > div,
body .ball-zig-zag-deflect > div,
body .ball-triangle-path > div,
body .ball-scale > div,
body .line-scale > div,
body .line-scale-party > div,
body .ball-scale-multiple > div,
body .ball-pulse-sync > div,
body .ball-beat > div,
body .line-scale-pulse-out > div,
body .line-scale-pulse-out-rapid > div,
body .ball-spin-fade-loader > div,
body .line-spin-fade-loader > div,
body .triangle-skew-spin > div,
body .ball-grid-beat > div,
body .semi-circle-spin > div {
  background-color: #3f51b5;
}
body .ball-clip-rotate-multiple {
  width: 1px;
}
body .ball-clip-rotate-multiple > div {
  border-color: #3f51b5 transparent #3f51b5 transparent;
}
body .ball-clip-rotate-multiple > div:last-child {
  border-color: transparent #3f51b5 transparent #3f51b5;
}
body .ball-clip-rotate > div {
  border-color: #3f51b5;
  border-bottom-color: transparent;
}
body .ball-clip-rotate-pulse > div:first-child {
  background-color: #3f51b5;
  top: 5px;
  right: -8px;
}
body .ball-clip-rotate-pulse > div:last-child {
  border-color: #3f51b5 transparent #3f51b5 transparent;
}
body .square-spin > div,
body .ball-scale-ripple > div,
body .ball-scale-ripple-multiple > div {
  border-color: #3f51b5;
}
body .pacman > div:first-of-type {
  border-top-color: #3f51b5;
  border-right-color: #3f51b5;
  border-bottom-color: #3f51b5;
}
body .pacman > div:nth-child(2) {
  border-top-color: #3f51b5;
  border-right-color: #3f51b5;
  border-bottom-color: #3f51b5;
}
body .pacman > div:nth-child(3),
body .pacman > div:nth-child(4),
body .pacman > div:nth-child(5),
body .pacman > div:nth-child(6) {
  background-color: #3f51b5;
}
body .sk-rotating-plane.sk-spinner,
body .sk-double-bounce .sk-double-bounce1,
body .sk-double-bounce .sk-double-bounce2,
body .sk-wave .sk-rect,
body .sk-wandering-cubes .sk-cube1,
body .sk-wandering-cubes .sk-cube2,
body .sk-chasing-dots .sk-dot1,
body .sk-chasing-dots .sk-dot2,
body .sk-three-bounce div,
body .sk-circle .sk-child:before,
body .sk-cube-grid .sk-cube,
body .sk-fading-circle .sk-circle:before,
body .sk-spinner-pulse.sk-spinner,
body .sk-rotating-plane {
  background-color: #3f51b5 !important;
}
body .sk-wordpress .sk-inner-circle {
  background-color: #fff;
}
.loader-demo {
  height: 150px;
  padding-top: 50px;
  text-align: center;
}
.loader-demo > div {
  display: inline-block;
}
.loader-demo.loader-demo-sk {
  padding-top: 0;
}
/** color values **/
/** layout values **/
/** font sizes **/
/** side-bar **/
/** page-section **/
@font-face {
  font-family: Roboto-Regular;
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: Roboto-Light;
  src: url(../fonts/Roboto/Roboto-Light.ttf);
}
@font-face {
  font-family: Roboto-Medium;
  src: url(../fonts/Roboto/Roboto-Medium.ttf);
}
@font-face {
  font-family: Roboto-Bold;
  src: url(../fonts/Roboto/Roboto-Bold.ttf);
}
.icon-lock-screen:before {
  content: url('../img/icons/lock.svg') !important;
}
.icon-location-pin-full:before {
  content: url('../img/icons/location_pin.svg') !important;
}
.icon-full-screen:before {
  content: url('../img/icons/full-screen.svg') !important;
}
.icon-menu-topbar:before {
  content: url('../img/icons/menu.svg') !important;
}
.icon-notification:before {
  content: url('../img/icons/notifications.svg') !important;
}
.icon-support:before {
  content: url('../img/icons/support.svg') !important;
}
.icon-user-profile-topbar:before {
  content: url('../img/icons/user.svg') !important;
}
.icon-lock-open:before {
  content: url('../img/icons/lock_open.svg') !important;
}
.icon-x:before {
  content: url('../img/icons/icon_x.svg') !important;
}
.icon-star:before {
  content: url('../img/icons/Icon_star.svg') !important;
}
.icon-home:before {
  content: url('../img/icons/Icon_home.svg') !important;
}
.icon-small-restaurant:before {
  content: url('../img/icons/Small_restaurant.svg') !important;
}
.icon-small-menu:before {
  content: url('../img/icons/Small_menu.svg') !important;
}
.icon-more:before {
  content: url('../img/icons/Icon_more.svg') !important;
}
.icon-plus:before {
  content: url('../img/icons/Icon-plus.svg') !important;
}
.icon-nav-back:before {
  content: url('../img/icons/Icon_back.svg') !important;
}
.icon-profile:before {
  content: url('../img/icons/Icon_profile.svg') !important;
}
.icon-manage-apps:before {
  content: url('../img/icons/Icon_manage_apps.svg') !important;
}
.icon-arrow-left:before {
  content: url('../img/icons/Icon_arrow-right.svg') !important;
}
.icon-help:before {
  content: url('../img/icons/Help_icon.svg') !important;
}
.icon-edit-pencil:before {
  content: url('../img/icons/Icon_edit_pencil.svg') !important;
}
.icon-close-01:before {
  content: url('../img/icons/Icon-close01.svg') !important;
}
.icon-billing:before {
  content: url('../img/icons/Icon_billing.svg') !important;
}
.icon-type-on:before {
  content: url('../img/icons/Icon_type_on.svg') !important;
}
.icon-table-view:before {
  content: url('../img/icons/Icon_search.svg') !important;
}
.icon-need-help:before {
  content: url('../img/icons/Icon_need_help.svg') !important;
}
.icon-arrow2-left:before {
  content: url('../img/icons/Icon_arrow2.svg') !important;
}
.icon-star1:before {
  content: url('../img/icons/Icon_Star1.svg') !important;
}
.icon-option1:before {
  content: url('../img/icons/Options_icon_1.svg') !important;
}
.icon-option2:before {
  content: url('../img/icons/Options_icon_2.svg') !important;
}
.icon-trash:before {
  content: url('../img/icons/Icon_Trash.svg') !important;
}
.icon-location-pin2:before {
  content: url('../img/icons/Icon_location_pin2.svg') !important;
}
.icon-calendar1:before {
  content: url('../img/icons/Icon_Calendar.svg') !important;
}
html,
body {
  background-color: #f5f7fa;
}
.vertical-mid-container {
  display: flex !important;
  justify-content: center;
}
.vertical-mid-inner {
  align-self: center;
}
.checking-layout {
  border: 2px solid #3f51b5;
}
.box-center {
  text-align: center;
}
.box-center div {
  margin: 0 auto;
}
.full-image {
  width: 100%;
}
.padding {
  padding: 10px;
}
.float-left {
  position: relative;
  float: right;
}
.float-right {
  position: relative;
  float: left;
}
.float-clear {
  clear: both;
}
.no-padding-horizontal {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.no-border-bottom {
  border-bottom: transparent !important;
}
.panel-brand {
  border-color: #cfdbe2;
}
.panel-brand > .panel-heading {
  color: #ffffff;
  background-color: #c4c4c2;
  border-color: #c4c4c2;
}
.panel-brand > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #cfdbe2;
}
.panel-brand > .panel-heading .badge {
  color: #c4c4c2;
  background-color: #ffffff;
}
.panel-brand > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #cfdbe2;
}
.letter-avatar {
  background-color: #2196f3;
  border-radius: 50%;
  text-align: center;
  height: 50px;
  width: 50px;
}
.letter-avatar span {
  padding-top: 5px;
  display: block;
  font-size: 25px;
  color: whitesmoke;
}
.search-form-rounded {
  border-radius: 0px 30px 30px 0px;
}
.search-btn-rounded {
  /*border-radius:Top-left, Top-right, Bottom-right, Bottom-left;*/
  border-radius: 30px 0px 0px 30px;
  cursor: pointer;
}
.pointer {
  cursor: pointer;
}
.required:after {
  content: " *";
  color: #f15a24;
}
.breadcrumb .active a {
  color: #515253;
}
.breadcrumb li.disabled a,
.breadcrumb li[disabled] a {
  color: gray;
  cursor: no-drop;
}
.breadcrumb li.disabled a:hover,
.breadcrumb li[disabled] a:hover {
  text-decoration: none;
}
.content-wrapper .content-heading {
  margin: -20px;
  margin-bottom: 20px;
  padding: 20px;
}
.table > tbody > tr.warning > td,
.table > tbody > tr.warning > th,
.table > tbody > tr > td.warning,
.table > tbody > tr > th.warning,
.table > tfoot > tr.warning > td,
.table > tfoot > tr.warning > th,
.table > tfoot > tr > td.warning,
.table > tfoot > tr > th.warning,
.table > thead > tr.warning > td,
.table > thead > tr.warning > th,
.table > thead > tr > td.warning,
.table > thead > tr > th.warning {
  background-color: #ffe2a9;
}
em.icon:after {
  content: " ";
}
.content-heading div h3 small {
  display: block;
  font-size: 12px;
  color: #909fa7;
}
.nv-file-over {
  background-color: #f15a24;
  color: white;
}
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: left;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}
.ace_editor {
  height: 600px;
}
#toast-container {
  position: fixed;
  margin-top: 50px;
  padding-left: 30%;
  z-index: 999999;
  pointer-events: auto;
}
.full-width {
  width: 100%;
}
.auth-bg {
  width: 100vw;
  min-height: 100vh;
  background: url(../img/auth-bg.jpg) 50% 50% / cover;
}
.auth-form-container {
  height: 100%;
}
.auth-form-container .logo-container {
  padding-top: 14vh;
}
.auth-form-container .logo-container .logo {
  width: 247px;
  height: 40px;
  background: url(../img/mc-logo.png) 50% 50% / cover;
}
.auth-form-container .subtitle {
  margin-top: 8vh;
  padding: 20px;
  color: #f9f9f9;
  font-size: 18px;
}
.auth-form-container .subtitle .title {
  font-family: 'Roboto-Regular';
}
.auth-form-container .subtitle .title.has-icon {
  display: inline-block;
}
.auth-form-container .subtitle .desc {
  margin-top: 22px;
  font-family: 'Roboto-Light';
}
.auth-form-container .subtitle i {
  display: inline-block;
  margin-right: 15px;
  margin-top: 6px;
  vertical-align: middle;
}
.auth-form-container .auth-form {
  margin-top: 20vh;
  margin-bottom: 10px;
}
.auth-form-container .auth-form.has-subtitle {
  margin-top: 12vh;
}
.auth-form-container .form-item {
  position: relative;
  width: 300px;
}
.auth-form-container .form-item:first-child {
  margin-top: 0;
}
.auth-form-container .form-item .text-danger {
  display: block;
  text-align: right;
  color: #ffaaff;
  text-shadow: rgba§-1 0px 1px 6px;
}
.auth-form-container .form-item-margin {
  margin-top: 10px;
}
.auth-form-container .form-item-margin-2x {
  margin-top: 20px;
}
.auth-form-container input {
  width: 100%;
  height: 40px;
  padding: 14px 13px;
  font-family: 'Roboto-Medium';
  font-size: 12px;
  border: 0.6px inset #b7bbc0;
  border-radius: 3px;
}
.auth-form-container input.input-danger {
  border: 1px solid #ff4336;
}
.auth-form-container input[type=checkbox] {
  width: 16px;
  height: 16px;
  float: right;
}
.auth-form-container .checkbox-label {
  text-align: right;
  margin-right: 28px;
  color: #f9f9f9;
  font-family: 'Roboto-Regular';
  font-size: 14px;
}
.auth-form-container .button {
  width: 100%;
  height: 40px;
  display: block;
  cursor: pointer;
  color: #ffffff;
  font-family: 'Roboto-Light';
  font-size: 16px;
  border: 0;
  border-radius: 3px;
  background-color: #fd6960;
}
.auth-form-container .button:not(:hover) {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.29);
}
.auth-form-container a {
  display: block;
  text-decoration: none;
}
.auth-form-container a:hover {
  text-decoration: underline;
  color: #ffffff;
}
.auth-form-container .form-link {
  cursor: pointer;
  width: 300px;
  font-family: 'Roboto-Light';
  color: #f9f9f9;
}
.auth-form-container .link-forgot-password {
  font-size: 14px;
}
.signup-form .subtitle {
  margin-top: 4vh !important;
}
.signup-form .has-subtitle {
  margin-top: 4vh !important;
}
.auth-popup {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1050;
  overflow-y: scroll;
}
@media (min-width: 768px) {
  .auth-popup .popup-modal {
    width: 636px !important;
    height: 444px !important;
    margin: 26vh auto 0 auto !important;
  }
}
@media (max-width: 768px) {
  .auth-popup .popup-modal {
    height: auto;
    min-height: 96vh;
    margin: 2vh 10px !important;
  }
}
.auth-popup .popup-modal {
  width: auto;
  margin: 20px auto;
  background-color: #f9f9f9;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.29);
}
.auth-popup .popup-modal .popup-content {
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: 32px;
}
.auth-popup .popup-modal .popup-content .popup-icon {
  width: 84px;
  height: 84px;
  margin: 32px auto;
}
.auth-popup .popup-modal .popup-content .subtitle {
  padding: 0 20px;
  font-size: 18px;
}
.auth-popup .popup-modal .popup-content .subtitle .title {
  color: #fd6960;
  font-family: 'Roboto-Regular';
}
.auth-popup .popup-modal .popup-content .subtitle .title.has-icon {
  display: inline-block;
}
.auth-popup .popup-modal .popup-content .subtitle .desc {
  margin-top: 22px;
  color: #4a4a4a;
  font-family: 'Roboto-Light';
}
.auth-popup .popup-modal .popup-content .subtitle i {
  display: inline-block;
  margin-right: 15px;
  margin-top: 6px;
  vertical-align: middle;
}
.auth-popup .popup-modal .popup-content .form-item {
  position: relative;
  width: 300px;
}
@media (max-width: 320px) {
  .auth-popup .popup-modal .popup-content .form-item {
    width: 280px;
  }
}
.auth-popup .popup-modal .popup-content .form-item-margin {
  margin-top: 10px;
}
.auth-popup .popup-modal .popup-content .form-item-margin-2x {
  margin-top: 20px;
}
.auth-popup .popup-modal .popup-content .form-item-margin-4x {
  margin-top: 40px;
}
.auth-popup .popup-modal .popup-content .button {
  width: 100%;
  height: 40px;
  display: block;
  cursor: pointer;
  color: #ffffff;
  font-family: 'Roboto-Light';
  font-size: 16px;
  border: 0;
  border-radius: 3px;
  background-color: #fd6960;
}
.auth-popup .popup-modal .popup-content .button:not(:hover) {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.29);
}
.auth-popup .popup-modal .popup-content a.form-link {
  color: #5bc0de;
  font-family: 'Roboto-Light';
  font-size: 14px;
  text-decoration: underline;
}
.has-icon-left {
  padding-right: 30px !important;
}
.has-icon-right {
  padding-left: 30px !important;
}
.input-icon-left {
  position: absolute;
  right: 12px;
  top: 12px;
}
.input-icon-right {
  position: absolute;
  left: 12px;
  top: 12px;
}
.wrapper {
  background-color: #ffffff;
}
.topnavbar-wrapper {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 115;
}
.sub-topnavbar-wrapper {
  position: fixed;
  top: 61px;
  right: 0;
  left: 0;
  z-index: 114;
}
.topnavbar {
  margin-right: 200px;
  min-height: 60px;
  background-color: #ffffff !important;
  background-image: none !important;
  border-bottom: transparent;
  box-shadow: 0 0.6px 0 0 rgba(0, 0, 0, 0.18);
  -webkit-transition: margin-right 0.2s cubic-bezier(0.35, 0, 0.25, 1);
  -o-transition: margin-right 0.2s cubic-bezier(0.35, 0, 0.25, 1);
  transition: margin-right 0.2s cubic-bezier(0.35, 0, 0.25, 1);
}
.topnavbar .navbar-header {
  background-color: #ffffff !important;
  background-image: none !important;
}
.topnavbar .nav-wrapper {
  padding: 0 15px 0 10px;
  box-shadow: none;
}
.topnavbar .nav-wrapper .nav-title-wrapper {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  text-align: center;
}
.topnavbar .nav-wrapper .nav-title-wrapper h3 {
  padding: 0;
  margin: 0 auto;
  font-family: 'Roboto-Light';
  font-weight: lighter;
  font-size: 22px;
  text-transform: uppercase;
}
.topnavbar .nav-wrapper .navbar-nav .open .dropdown-menu {
  right: inherit !important;
  left: 10px !important;
  top: 55px !important;
  width: 260px !important;
  border-radius: 0 !important;
  border: 0.8px solid #b7bbc0 !important;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.29) !important;
}
.topnavbar .navbar-nav > li > a {
  height: 60px;
  padding: 0 15px !important;
}
.topnavbar .navbar-nav > li {
  position: static !important;
}
.topnavbar .user-profile-topbar-button {
  background-image: url(../img/user-photo.png);
  background-size: 36px 36px;
  background-repeat: no-repeat;
  background-position: 50%;
  width: 36px;
  height: 36px;
  color: #fd6960;
  text-align: center;
  line-height: 36px;
  font-size: 16px;
  font-weight: 400;
}
.topnavbar .mobile-nav-title-wrapper {
  box-shadow: 0 0.6px 0 0 rgba(0, 0, 0, 0.18);
}
.topnavbar .mobile-nav-title-wrapper h3.navbar-title {
  margin: 0;
  text-align: center;
  line-height: 60px;
  font-family: 'Roboto-Light';
  font-weight: lighter;
  font-size: 22px;
  text-transform: uppercase;
}
.topnavbar .nav-wrapper ul.nav.navbar-nav li.mobile-menu-toggle {
  position: absolute !important;
  left: 0;
  top: 0;
  z-index: 1000;
}
.dropdown-menu-profile {
  width: 100% !important;
  padding: 17px 0 !important;
}
.dropdown-menu-profile .lock-screen-container {
  padding: 0 17px;
  text-align: left;
}
.dropdown-menu-profile .lock-screen-container .lock-screen-btn {
  cursor: pointer;
  line-height: 16px;
  font-family: 'Roboto-Light';
  font-size: 14px;
  color: #9b9b9b;
}
.dropdown-menu-profile .lock-screen-container .lock-screen-btn .lock-icon {
  margin-right: 6px;
  vertical-align: middle;
}
.dropdown-menu-profile .user-info-container {
  position: relative;
  width: 100%;
  float: right;
  padding: 12px 30px 16px 0;
  border-bottom: 0.6px solid #d5d5d5;
}
.dropdown-menu-profile .user-info-container .user-photo {
  float: right;
  width: 66px;
  height: 66px;
  margin-left: 18px;
  text-align: center;
  font-size: 30px;
  line-height: 66px;
  font-weight: 600;
  color: #4a4a4a;
  background: url(../img/user-photo-popup.png) 50% 50% / cover;
}
.dropdown-menu-profile .user-info-container .user-full-name {
  float: right;
  width: 129px;
  padding-top: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: 'Roboto-Regular';
  font-size: 18px;
  color: #4a4a4a;
  line-height: 26px;
}
.dropdown-menu-profile .item-list-container {
  clear: both;
  padding-right: 30px;
  padding-top: 20px;
}
.dropdown-menu-profile .item-list-container ul {
  padding: 0;
}
.dropdown-menu-profile .item-list-container ul li {
  margin-bottom: 15px;
  list-style: none;
}
.dropdown-menu-profile .item-list-container ul li a {
  font-family: 'Roboto-Light';
  font-size: 16px;
  color: #4a4a4a;
  text-decoration: none;
  display: block;
}
.dropdown-menu-notification a {
  display: block;
}
.dropdown-menu-notification a:hover,
.dropdown-menu-notification a:focus {
  text-decoration: none;
}
.dropdown-menu-notification .notification-item {
  position: relative;
  padding: 15px 15px 12px 28px;
  border-bottom: 1px solid #979797;
}
.dropdown-menu-notification .notification-item .top-right-part {
  position: absolute;
  top: 8px;
  left: 16px;
}
.dropdown-menu-notification .notification-item .top-right-part .close-icon-btn {
  float: left;
  font-size: 8px;
}
.dropdown-menu-notification .notification-item .top-right-part .sent-time {
  float: left;
  margin-left: 12px;
  font-family: 'Roboto-Light';
  font-size: 6px;
  color: #4a4a4a;
}
.dropdown-menu-notification .notification-item .notification-content {
  position: relative;
  padding-right: 15px;
}
.dropdown-menu-notification .notification-item .notification-content .green-dot {
  position: absolute;
  right: 0;
  top: 8px;
  width: 4px;
  height: 4px;
  background-color: #50e3c2;
  border-radius: 50%;
}
.dropdown-menu-notification .notification-item .notification-content .notification-title {
  margin-bottom: 5px;
  font-size: 14px;
  font-family: 'Roboto-Regular';
  color: #4a4a4a;
}
.dropdown-menu-notification .notification-item .notification-content .notification-des {
  font-family: 'Roboto-Light';
  font-size: 10px;
  color: #4a4a4a;
}
.dropdown-menu-notification .close-all-notification {
  padding: 16px 0;
  text-align: center;
  font-family: 'Roboto-Light';
  font-size: 10px;
  color: #4a4a4a;
}
.sub-topnavbar {
  margin-right: 200px;
  margin-bottom: 2px;
  min-height: 50px;
  background-color: #ffffff !important;
  background-image: none !important;
  border-radius: 0;
  border-bottom: transparent;
  box-shadow: 0 0.6px 0 0 rgba(0, 0, 0, 0.18);
  -webkit-transition: margin-right 0.2s cubic-bezier(0.35, 0, 0.25, 1);
  -o-transition: margin-right 0.2s cubic-bezier(0.35, 0, 0.25, 1);
  transition: margin-right 0.2s cubic-bezier(0.35, 0, 0.25, 1);
}
.sub-topnavbar .sub-nav-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
.sub-topnavbar .sub-nav-wrapper a {
  text-decoration: none;
}
.sub-topnavbar .sub-nav-wrapper a:hover,
.sub-topnavbar .sub-nav-wrapper a:focus {
  text-decoration: none;
}
.sub-topnavbar .sub-nav-wrapper .sub-nav-back-wrapper {
  position: absolute;
  padding-right: 30px;
}
.sub-topnavbar .sub-nav-wrapper .sub-nav-back-wrapper a {
  display: block;
  line-height: 50px;
  font-family: 'Roboto-Light';
  font-size: 14px;
  color: #8f8d90;
}
.sub-topnavbar .sub-nav-wrapper .sub-nav-tab-wrapper {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}
.sub-topnavbar .sub-nav-wrapper .sub-nav-tab-wrapper .sub-nav-tab-items a.sub-nav-tab-item {
  margin-left: 26px;
  line-height: 48px;
  display: inline-block;
  font-size: 16px;
  font-family: 'Roboto-Light';
  color: #515151;
}
.sub-topnavbar .sub-nav-wrapper .sub-nav-tab-wrapper .sub-nav-tab-items a.sub-nav-tab-item:last-child {
  margin-left: 0;
}
.sub-topnavbar .sub-nav-wrapper .sub-nav-tab-wrapper .sub-nav-tab-items a.sub-nav-tab-item em {
  margin-left: 6px;
  vertical-align: middle;
}
.sub-topnavbar .sub-nav-wrapper .sub-nav-tab-wrapper .sub-nav-tab-items a.sub-nav-tab-item.active {
  border-bottom: 2px solid #fd6960;
}
.wrapper > .aside {
  position: fixed;
  width: 200px;
  padding: 0 !important;
  -webkit-transition: margin-right 0.2s cubic-bezier(0.35, 0, 0.25, 1);
  -o-transition: margin-right 0.2s cubic-bezier(0.35, 0, 0.25, 1);
  transition: margin-right 0.2s cubic-bezier(0.35, 0, 0.25, 1);
}
.wrapper > .aside .aside-inner.app-side-menu {
  margin: 0;
  padding: 0;
  top: 0;
  bottom: 0;
  width: 200px;
}
.wrapper > .aside .aside-inner.app-side-menu .sidebar {
  width: 200px;
  border: 0 !important;
  background: #ff8a66;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ff8a66 0%, #ffa78c 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, right top, right bottom, color-stop(0%, #ff8a66), color-stop(100%, #ffa78c));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ff8a66 0%, #ffa78c 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ff8a66 0%, #ffa78c 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ff8a66 0%, #ffa78c 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ff8a66 0%, #ffa78c 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@menucloud-side-bar-bg-color-1', endColorstr='@menucloud-side-bar-bg-color-2', GradientType=0);
  /* IE6-9 */
}
.wrapper > .aside .aside-inner.app-side-menu .sidebar .sidebar-header {
  width: 100%;
  padding: 21px 0;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}
.wrapper > .aside .aside-inner.app-side-menu .sidebar .sidebar-header img {
  width: 150px;
}
.wrapper > .aside .aside-inner.app-side-menu .sidebar .nav {
  position: inherit !important;
}
.wrapper > .aside .aside-inner.app-side-menu .sidebar .nav li {
  background-color: transparent !important;
}
.wrapper > .aside .aside-inner.app-side-menu .sidebar .nav li.active,
.wrapper > .aside .aside-inner.app-side-menu .sidebar .nav li.open,
.wrapper > .aside .aside-inner.app-side-menu .sidebar .nav li a {
  background-color: transparent !important;
}
.wrapper > .aside .aside-inner.app-side-menu .sidebar .nav li.active {
  border-right-color: transparent;
}
.wrapper > .aside .aside-inner.app-side-menu .sidebar .nav li.active a {
  font-family: 'Roboto-Bold';
}
.wrapper > .aside .aside-inner.app-side-menu .sidebar .nav li a {
  padding: 13.5px 17px;
  color: #ffffff;
  font-size: 14px;
  font-family: 'Roboto-Light';
}
.wrapper > .aside .aside-inner.app-side-menu .sidebar .nav li a em,
.wrapper > .aside .aside-inner.app-side-menu .sidebar .nav li a span {
  vertical-align: middle;
}
.wrapper > .aside .aside-inner.app-side-menu .sidebar .nav li.side-quick-links {
  margin-top: 25px;
  margin-bottom: 12px;
}
.wrapper > .aside .aside-inner.app-side-menu .sidebar .nav li.side-quick-links a {
  padding-bottom: 0;
}
.wrapper > .aside .aside-inner.app-side-menu .sidebar .nav li.side-quick-links a em {
  width: 24px;
}
.wrapper > .aside .aside-inner.app-side-menu .sidebar .nav li.side-quick-links a em.icon-more {
  margin-right: 20px;
}
.wrapper > .aside .aside-inner.app-side-menu .sidebar .nav li.side-quick-links .link-items a.link-item {
  margin: 0;
  padding: 12px 50px 0 0;
  font-size: 14px;
  font-family: 'Roboto-Light';
  display: block;
}
.wrapper > .aside .aside-inner.app-side-menu .sidebar .nav li.side-quick-links .link-items a:hover,
.wrapper > .aside .aside-inner.app-side-menu .sidebar .nav li.side-quick-links .link-items a:focus {
  text-decoration: none;
}
.wrapper > .aside .aside-inner.app-side-menu .sidebar .nav li.side-add-extension {
  position: absolute;
  bottom: 0;
  text-align: center;
  right: 0;
  width: 200px;
}
.wrapper > .aside .aside-inner.app-side-menu .sidebar .nav li.side-add-extension a {
  color: #f9f9f9;
  font-size: 14px;
  font-family: 'Roboto-Regular';
}
.wrapper > .aside .aside-inner.app-side-menu .sidebar .nav li.side-add-extension a em.icon-plus {
  width: 22px;
  margin-top: -4px;
}
section.main-section {
  padding: 0 !important;
  margin-bottom: 0 !important;
  margin-right: 200px;
  background-color: #ffffff;
}
section.main-section .content-wrapper {
  padding: 0;
}
section.main-section .content-wrapper .page-main-container {
  padding-top: 61px;
  padding-left: 15px;
}
section.main-section .content-wrapper .page-main-container.has-sub-topnavbar {
  padding-top: 111px;
}
section.main-section .content-wrapper .logo-wrapper {
  padding: 38px 60px 10px 0;
}
section.main-section .content-wrapper .logo-wrapper img {
  width: 196px;
}
section.main-section .content-wrapper .dashboard-items.row {
  margin: 0 !important;
}
section.main-section .content-wrapper .dashboard-items .col {
  padding: 0;
}
section.main-section .content-wrapper .dashboard-items .dashboard-item {
  position: relative;
  padding: 15px 15px 0 0;
}
section.main-section .content-wrapper .dashboard-items .dashboard-item .dashboard-item-wrapper {
  position: absolute;
  right: 15px;
  top: 15px;
  left: 0;
  bottom: 0;
}
section.main-section .content-wrapper .dashboard-items .dashboard-item .dashboard-item-wrapper .dashboard-item-content {
  text-align: center;
}
section.main-section .content-wrapper .dashboard-items .dashboard-item .dashboard-item-wrapper .dashboard-item-content img {
  width: 42px;
}
section.main-section .content-wrapper .dashboard-items .dashboard-item .dashboard-item-wrapper .dashboard-item-content h3 {
  font-family: 'Roboto-Bold';
  font-size: 32px;
  color: #ffffff;
  margin: 29px auto 10px auto;
}
section.main-section .content-wrapper .dashboard-items .dashboard-item .dashboard-item-wrapper .dashboard-item-content a {
  font-family: 'Roboto-Regular';
  font-size: 18px;
  color: #f9f9f9;
}
section.main-section .content-wrapper .dashboard-items .dashboard-item .dashboard-item-wrapper .dashboard-item-content a span {
  margin-left: 5px;
}
section.main-section .content-wrapper .dashboard-items .dashboard-item .dashboard-item-wrapper .help-button {
  position: absolute;
  top: 15px;
  left: 20px;
}
section.main-section .content-wrapper .dashboard-items .dashboard-item .dashboard-item-wrapper .dashboard-item-content-2 {
  text-align: right;
  margin: auto 20px;
}
section.main-section .content-wrapper .dashboard-items .dashboard-item .dashboard-item-wrapper .dashboard-item-content-2 h3 {
  position: relative;
  margin: 0 0 10px 0;
  padding-right: 12px;
  font-family: 'Roboto-Bold';
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
}
section.main-section .content-wrapper .dashboard-items .dashboard-item .dashboard-item-wrapper .dashboard-item-content-2 h3:before {
  content: "";
  position: absolute;
  right: 0;
  top: 5px;
  bottom: 5px;
  border-right: 2px solid #fff;
}
section.main-section .content-wrapper .dashboard-items .dashboard-item .dashboard-item-wrapper .dashboard-item-content-2 p {
  margin: 0;
  font-family: 'Roboto-Regular';
  font-size: 14px;
  color: #f9f9f9;
}
.aside-collapsed .topnavbar,
.aside-collapsed .sub-topnavbar {
  margin-right: 0;
}
.aside-collapsed .wrapper > .aside {
  width: 200px !important;
  margin-right: -200px;
}
.aside-collapsed section.main-section {
  margin-right: 0;
}
/** mobile layout **/
@media only screen and (max-width: 767px) {
  .navbar-nav {
    margin: 0 -12px;
  }
  .topnavbar,
  .sub-topnavbar {
    width: 100%;
    margin-right: 0;
  }
  .topnavbar .nav-wrapper .navbar-nav .open .dropdown-menu {
    top: 115px !important;
  }
  .sub-topnavbar-wrapper {
    top: 121px;
  }
  .wrapper > .aside {
    z-index: 0;
    margin-right: 0 !important;
    -webkit-transition: margin-right 0.2s cubic-bezier(0.35, 0, 0.25, 1) !important;
    -o-transition: margin-right 0.2s cubic-bezier(0.35, 0, 0.25, 1) !important;
    transition: margin-right 0.2s cubic-bezier(0.35, 0, 0.25, 1) !important;
    transform: translate3d(0, 0, 0) !important;
  }
  section.main-section {
    right: 200px !important;
    -webkit-transition: right 0.2s cubic-bezier(0.35, 0, 0.25, 1) !important;
    -o-transition: right 0.2s cubic-bezier(0.35, 0, 0.25, 1) !important;
    transition: right 0.2s cubic-bezier(0.35, 0, 0.25, 1) !important;
    transform: translate3d(0, 0, 0) !important;
  }
  section.main-section .content-wrapper .logo-wrapper {
    text-align: center;
    padding: 30px 0 10px 0;
  }
  section.main-section .content-wrapper .page-main-container {
    padding-top: 120px;
  }
  section.main-section .content-wrapper .page-main-container.has-sub-topnavbar {
    padding-top: 180px;
  }
  .wrapper > .aside .aside-inner.app-side-menu .sidebar {
    margin-top: 121px;
  }
  .wrapper > .aside .aside-inner.app-side-menu .sidebar.has-sub-topnavbar {
    margin-top: 171px;
  }
  .aside-collapsed .topnavbar,
  .aside-collapsed .sub-topnavbar {
    margin-right: 0;
  }
  .aside-collapsed .wrapper > .aside {
    width: 200px !important;
    margin-right: -200px !important;
  }
  .aside-collapsed section.main-section {
    right: 0 !important;
  }
}
@media (max-width: 540px) {
  .app-alert.sweet-alert {
    width: auto !important;
    margin-right: 0 !important;
    margin-left: 0;
    right: 15px;
    left: 15px;
  }
}
.app-alert.sweet-alert {
  width: 400px;
  margin-right: -200px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.29);
  border: 1px solid #b7bbc0;
  border-radius: 0;
  background-color: #ffffff;
}
.app-alert.sweet-alert h2 {
  position: absolute;
  text-align: center;
  right: 0;
  left: 0;
  top: 0;
  margin: 40px 0;
  color: #fd6960;
  font-family: 'Roboto-Regular';
  font-size: 14px;
  font-weight: normal;
  line-height: 14px;
}
.app-alert.sweet-alert .sa-icon.sa-custom {
  margin: 69px auto 7px auto;
}
.app-alert.sweet-alert p {
  font-family: 'Roboto-Light';
  font-size: 16px;
  color: #525252;
}
.app-alert.sweet-alert p .profile-img-text {
  display: block;
  position: absolute;
  text-align: center;
  right: 0;
  left: 0;
  height: 80px;
  bottom: 24px;
  font-size: 30px;
  font-weight: 600;
  line-height: 80px;
}
.app-alert.sweet-alert button.confirm,
.app-alert.sweet-alert button.cancel {
  margin-top: 40px;
  width: 102px;
  height: 28px;
  font-family: 'Roboto-Light';
  font-size: 12px;
  padding: 6px;
  border-radius: 4px;
}
.app-alert.sweet-alert button.cancel {
  background-color: #5bc0de;
}
.app-alert.sweet-alert.has-close-button button.cancel {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 13px;
  left: 13px;
  margin: 0;
  padding: 0;
  font-size: 10px;
  background-color: transparent;
  border-radius: 0;
}
.app-alert.sweet-alert.has-close-button button.cancel:before {
  content: url('../img/icons/icon_x_2.svg') !important;
}
.app-alert.sweet-alert.no-fieldset fieldset {
  display: none;
}
.app-alert.sweet-alert.no-title p {
  margin-top: 62px;
  margin-bottom: 38px;
}
.app-alert.sweet-alert.form-alert .form-wrapper {
  padding: 72px 32px 0;
}
.app-alert.sweet-alert.form-alert .form-wrapper .form-item {
  position: relative;
  width: 100%;
  margin-bottom: 14px;
}
.app-alert.sweet-alert.form-alert .form-wrapper .form-item:last-child {
  margin-bottom: 0;
}
.app-alert.sweet-alert.form-alert .form-wrapper .form-item.icon-right:before {
  position: absolute;
  top: 2px;
  left: 20px;
  line-height: 40px;
}
.app-alert.sweet-alert.form-alert .form-wrapper .form-item.col-50 {
  display: inline-block;
  width: 48%;
  padding: 0;
}
.app-alert.sweet-alert.form-alert .form-wrapper .form-item.col-50:first-child {
  padding-left: 20px;
}
.app-alert.sweet-alert.form-alert .form-wrapper .form-item input {
  display: block;
  box-shadow: none;
  width: 100%;
  height: 40px;
  padding: 0 8px;
  margin: 0;
  font-family: Roboto-Medium;
  font-size: 12px;
  border-radius: 4px;
  border: 0.6px solid #b7bbc0;
}
.success-feedback-alert {
  position: absolute;
  top: 63px;
  width: 100%;
  height: 40px;
  text-align: center;
  font-size: 13px;
  font-family: 'Roboto-Regular';
  line-height: 42px;
  color: #ffffff;
  background-color: #50e3c2;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.29);
}
.verify-email-alert {
  position: absolute;
  top: 66px;
  left: 5px;
  width: 320px;
  height: 60px;
  padding: 10px 90px 0 28px;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.29);
}
.verify-email-alert .logo {
  position: absolute;
  right: 25px;
  top: 16px;
}
.verify-email-alert .logo img {
  height: 28px;
}
.verify-email-alert h2 {
  padding: 0;
  margin: 0;
  font-family: 'Roboto-Regular';
  font-size: 12px;
  font-weight: 400;
  color: #4a4a4a;
}
.verify-email-alert p {
  padding: 0;
  margin: 6px 0 0 0;
  line-height: 12px;
  font-family: 'Roboto-Light';
  font-size: 10px;
  color: #4a4a4a;
}
.has-sub-topnavbar .success-feedback-alert {
  top: 113px;
}
.has-sub-topnavbar .verify-email-alert {
  top: 116px;
}
.property-container {
  padding-left: 0 !important;
  min-height: 100vh;
  background-color: #f9f9f9;
}
.property-container .tab-wrapper {
  padding-top: 70px;
}
.add-button {
  position: absolute;
  left: 29px;
  top: 140px;
  width: 160px;
  height: 28px;
  line-height: 30px;
  font-size: 13px;
  text-align: center;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 1.5px 1.5px 0 rgba(0, 0, 0, 0.29);
}
.property-profile-img {
  position: absolute;
  top: 226px;
  background-image: url(../img/user-photo-alert.png);
  background-size: 80px 81px;
  background-repeat: no-repeat;
  background-position: 50%;
  width: 80px;
  height: 81px;
  color: #515151;
  text-align: center;
  line-height: 81px;
  font-size: 32px;
  font-weight: bold;
}
.property-list {
  margin: 0 auto;
  text-align: center;
  width: 600px;
}
.property-list.property-access-list {
  padding-top: 64px;
}
.property-list .property-wrapper {
  margin-bottom: 40px;
  border-top: 1px solid #dee0e2;
}
.property-list .property-wrapper .property-title h4 {
  margin: 6px 0;
  text-align: right;
  font-weight: normal;
  font-size: 14px;
  font-family: 'Roboto-Light';
  color: #fd6960;
}
.property-list .property-wrapper .property-item-group {
  margin: 0 auto 16px;
  width: 328px;
  text-align: right;
  color: #8f8d90;
}
.property-list .property-wrapper .property-item-group:first-child {
  margin-top: 0;
}
.property-list .property-wrapper .property-item-group.property-access-wrapper {
  float: left;
  width: 436px;
}
.property-list .property-wrapper .property-item-group .property-item {
  position: relative;
  height: 32px;
  line-height: 32px;
  font-size: 14px;
  font-family: 'Roboto-Light';
  border-bottom: 1px solid #979797;
}
.property-list .property-wrapper .property-item-group .property-item.icon-right:before {
  position: absolute;
  line-height: 30px;
  left: 8px;
  bottom: 0;
}
.property-list .property-wrapper .property-item-group .property-item.icon-type-on:before {
  top: 6px !important;
}
.property-list .property-wrapper .property-item-group .property-item.property-access {
  height: 40px;
  width: 436px;
  margin-bottom: 10px;
}
.property-list .property-wrapper .property-item-group .property-item.property-access.icon-right:before {
  line-height: 32px;
  left: 0;
}
.property-list .property-wrapper .property-item-group .property-item.property-access.access-owner {
  margin-bottom: 16px;
}
.property-list .property-wrapper .property-item-group .property-item .user-avatar {
  position: absolute;
  bottom: 9px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  font-size: 12px;
  line-height: 24px;
  background-color: #FD6960;
}
.property-list .property-wrapper .property-item-group .property-item .user-avatar:before {
  content: '';
  position: absolute;
  left: 1px;
  bottom: 2px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #50e3c2;
}
.property-list .property-wrapper .property-item-group .property-item .username {
  padding-right: 36px;
  color: #4a4a4a;
  font-size: 18px;
  line-height: 40px;
}
.property-list .property-wrapper .property-item-group .property-item .user-description {
  position: absolute;
  right: 218px;
  bottom: 0;
  font-size: 14px;
  line-height: 32px;
}
.property-list .property-wrapper .property-item-group .property-item-subform .property-item {
  margin-bottom: 24px;
}
.property-list .property-wrapper .property-item-group .property-item-subform .subform-item {
  position: relative;
  margin-top: 10px;
}
.property-list .property-wrapper .property-item-group .property-item-subform .subform-item:first-child {
  margin-top: 0;
}
.property-list .property-wrapper .property-item-group .property-item-subform .subform-item.item-margin-bottom {
  margin-bottom: 18px;
}
.property-list .property-wrapper .property-item-group .property-item-subform .subform-item .alert-danger {
  padding: 6px;
}
.property-list .property-wrapper .property-item-group .property-item-subform .subform-item.icon-right:before {
  position: absolute;
  line-height: 32px;
  left: 18px;
  bottom: 0;
}
.property-list .property-wrapper .property-item-group .property-item-subform .subform-item.icon-right input {
  padding-left: 38px;
}
.property-list .property-wrapper .property-item-group .property-item-subform .subform-item span.input-label {
  display: block;
  margin-bottom: 6px;
  font-size: 12px;
  font-family: 'Roboto-Regular';
  color: #9b9b9b;
}
.property-list .property-wrapper .property-item-group .property-item-subform .subform-item input {
  width: 100%;
  height: 40px;
  padding: 0 8px;
  border-radius: 4px;
  border: 0.6px solid #b7bbc0;
}
.property-list .property-wrapper .property-item-group .property-item-subform .subform-item textarea {
  width: 100%;
  max-width: 100%;
  height: 80px;
  border-radius: 4px;
  border: 0.6px solid #b7bbc0;
}
.property-list .property-wrapper.property-billing-info {
  padding-top: 15px;
}
.property-list .property-wrapper.property-billing-info .property-title h4 {
  margin: 0;
}
.property-list .property-wrapper.property-billing-info .property-billing-detail {
  padding-right: 43px;
  font-family: 'Roboto-Regular';
  font-size: 12px;
  color: #9b9b9b;
}
.property-list .property-wrapper.property-billing-info .property-billing-update p {
  font-family: 'Roboto-Light';
  font-size: 14px;
  color: #fd6d64;
}
.property-list .property-wrapper.property-billing-table {
  margin-top: 48px;
  padding-top: 48px;
}
.property-list .property-wrapper.property-billing-table table {
  width: 100%;
}
.property-list .property-wrapper.property-billing-table table thead tr {
  height: 35px;
  background-color: #9b9b9b;
}
.property-list .property-wrapper.property-billing-table table thead tr th {
  font-family: 'Roboto-Regular';
  font-size: 14px;
  font-weight: normal;
  color: #ffffff;
}
.property-list .property-wrapper.property-billing-table table thead tr th:first-child {
  padding-right: 20px;
}
.property-list .property-wrapper.property-billing-table table thead tr th:last-child {
  padding-left: 15px;
  text-align: left;
}
.property-list .property-wrapper.property-billing-table table tbody tr {
  height: 39px;
  border-bottom: 1px solid #dee0e2;
}
.property-list .property-wrapper.property-billing-table table tbody tr td {
  text-align: right;
  color: #8f8d90;
  font-size: 14px;
  font-family: 'Roboto-Light';
}
.property-list .property-wrapper.property-billing-table table tbody tr td:first-child {
  padding-right: 20px;
}
.property-list .property-wrapper.property-billing-table table tbody tr td:last-child {
  padding-top: 6px;
  padding-left: 15px;
  text-align: left;
}
.property-list .property-wrapper.property-my-apps {
  border-top: transparent;
}
.property-list .property-wrapper.property-my-apps .property-title {
  margin-bottom: 6px;
  border-bottom: 1px solid #dee0e2;
}
.property-list .property-wrapper.property-my-apps .my-app-card {
  padding: 0 30px;
}
.property-list .property-wrapper.property-my-apps .my-app-card .item-button {
  position: absolute;
  top: 35px;
  left: 30px;
  margin: 0;
}
.property-list .property-wrapper.property-my-apps .my-app-card .tab-bar {
  text-align: right;
  padding-top: 8px;
  border-bottom: 1px solid #d0cabb;
}
.property-list .property-wrapper.property-my-apps .my-app-card .tab-bar .tab-item {
  display: inline-block;
  margin-right: 28px;
  margin-bottom: -1px;
  font-size: 14px;
  font-family: 'Roboto-Light';
  color: #d0cabb;
}
.property-list .property-wrapper.property-my-apps .my-app-card .tab-bar .tab-item.activated {
  color: #8f8d90;
  border-bottom: 1px solid #979797;
}
.property-list .property-wrapper.property-my-apps .my-app-card .tab-bar .tab-item:first-child {
  margin-right: 0;
}
.property-list .property-wrapper.property-my-apps .my-app-card .tab-contents {
  padding-top: 16px;
  text-align: right;
  color: #8f8d90;
}
.property-list .property-wrapper.property-my-apps .my-app-card .tab-contents .logo {
  display: inline-block;
  vertical-align: middle;
}
.property-list .property-wrapper.property-my-apps .my-app-card .tab-contents .logo img {
  height: 20px;
}
.property-list .property-wrapper.property-my-apps .my-app-card .tab-contents .logo h2 {
  margin: 0;
  padding: 0;
  line-height: 20px;
  color: #4a4a4a;
  font-family: 'Roboto-Medium';
  font-size: 18px;
  font-weight: bold;
}
.property-list .property-wrapper.property-my-apps .my-app-card .tab-contents .role {
  display: inline-block;
  margin-right: 24px;
  padding: 2px 10px;
  color: #ffffff;
  font-size: 9px;
  font-family: 'Roboto-Medium';
  background-color: #d0cabb;
}
.property-list .property-wrapper.property-my-apps .my-app-card .tab-contents p {
  margin: 0;
  padding: 10px 0 16px;
  line-height: 18px;
  text-align: justify;
  font-size: 14px;
  font-family: 'Roboto-Light';
}
.property-list .property-wrapper.property-my-apps .my-app-card .tab-contents .row {
  margin: 8px 0;
}
.property-list .property-wrapper.property-my-apps .my-app-card .tab-contents .col {
  padding: 0;
}
.property-list .property-wrapper.property-my-apps .my-app-card .tab-contents .col.detail-field {
  font-family: 'Roboto-Light';
}
.property-list .property-wrapper.property-my-apps .my-app-card .tab-contents .col span {
  font-family: 'Roboto-Regular';
  font-size: 12px;
  color: #979797;
}
.property-list .property-wrapper.property-my-apps .my-app-card .tab-contents .col span.right-space {
  margin-left: 32px;
}
.property-list .property-wrapper.property-my-apps .my-app-card .tab-contents .col span.right-space:last-child {
  margin-left: 0;
}
.property-list .property-wrapper.property-my-apps .my-app-card .tab-contents .col span.has-separate {
  margin-left: 3px;
  padding-right: 10px;
  border-right: 1px solid rgba(151, 151, 151, 0.5);
}
.property-list .property-wrapper.property-my-apps .my-app-card .tab-contents .col span.has-separate:first-child {
  padding-right: 0;
  border-right: transparent;
}
.property-list .property-wrapper.property-my-apps .contact-wrapper {
  margin-top: 25px;
}
.property-list .property-wrapper.property-my-apps .contact-wrapper p {
  font-size: 18px;
  font-family: 'Roboto-Light';
  color: #4a4a4a;
}
.property-list .property-wrapper.property-my-apps .contact-wrapper .item-button {
  margin-top: 14px !important;
}
.property-list .item-button {
  margin-top: 16px;
  text-align: center;
}
.property-list .item-button button {
  cursor: pointer;
  width: 102px;
  height: 28px;
  font-family: 'Roboto-Regular';
  color: #ffffff;
  border-radius: 4px;
  border: transparent;
  box-shadow: 0 1.5px 1.5px 0 rgba(0, 0, 0, 0.29);
}
.property-list .item-button .positive-button {
  background-color: #5bc0de;
}
.help-contact-button {
  position: absolute;
  width: 146px;
  height: 29px;
  left: 36px;
  top: 640px;
  padding-right: 38px;
  color: #9b9b9b;
  font-family: 'Roboto-Medium';
  font-size: 12px;
  line-height: 16px;
}
.help-contact-button.icon-left:before {
  position: absolute;
  right: 0;
}
.help-contact-button a {
  color: #9b9b9b;
  text-decoration: underline;
}
.help-contact-button a:hover,
.help-contact-button a:focus {
  color: #9b9b9b;
}
.app-card {
  position: relative;
  width: 100%;
  min-height: 130px;
  margin-bottom: 15px;
  padding: 0 30px;
  background-color: #ffffff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
}
.app-card.restaurant-card {
  height: 200px;
  margin-bottom: 35px;
  padding: 0;
}
.app-card.restaurant-card .manage-restaurant {
  position: relative;
  padding: 43px 0 0 71px;
  height: 140px;
  display: block;
  text-align: left;
  background-image: url('../img/Restaurant.png');
}
.app-card.restaurant-card .manage-restaurant a {
  position: relative;
  font-size: 32px;
  font-family: 'Roboto-Regular';
  color: #ffffff;
}
.app-card.restaurant-card .manage-restaurant a:hover,
.app-card.restaurant-card .manage-restaurant a:focus {
  text-decoration: none;
}
.app-card.restaurant-card .manage-restaurant a.icon-right:before {
  position: absolute;
  left: -21px;
}
.app-card.restaurant-card .manage-restaurant .restaurant-favorite {
  position: absolute;
  top: 20px;
  right: 25px;
}
.app-card.restaurant-card .restaurant-detail {
  position: relative;
  padding: 10px 25px;
  width: 100%;
  height: 60px;
  text-align: right;
  border-top: 1px solid rgba(151, 151, 151, 0.5);
}
.app-card.restaurant-card .restaurant-detail h2 {
  margin: 0;
  padding: 0;
  font-family: 'Roboto-Regular';
  color: #4a4a4a;
  font-size: 16px;
}
.app-card.restaurant-card .restaurant-detail p {
  margin: 6px 0 0 0;
  padding: 0;
  font-family: 'Roboto-Light';
  color: #4a90e2;
  font-size: 12px;
}
.app-card.restaurant-card .restaurant-detail .edit-button {
  position: absolute;
  left: 30px;
  top: 0;
}
.app-card.restaurant-card .restaurant-detail .edit-button.icon-option1:before {
  line-height: 58px;
}
.app-card.restaurant-card .restaurant-detail .edit-button.icon-option2:before {
  line-height: 68px;
}
.app-card.restaurant-card .restaurant-detail .delete-button {
  position: absolute;
  left: 54px;
  top: 0;
}
.app-card.restaurant-card .restaurant-detail .delete-button:before {
  line-height: 64px;
}
.restaurant-list {
  position: relative;
  padding-top: 160px;
  width: 670px;
}
.add-restaurant {
  left: 30px;
  top: 90px;
  height: 34px;
  line-height: 36px;
  font-size: 14px;
  font-family: Roboto-Light;
  color: #8f8d90;
}
/** mobile layout **/
@media only screen and (max-width: 767px) {
  .add-restaurant {
    top: 150px;
    z-index: 1000;
  }
  .add-button {
    top: 200px;
    z-index: 1000;
  }
  .property-profile-img {
    display: none;
  }
  .property-list {
    width: 90%;
  }
  .property-list .property-wrapper .property-title h4 {
    margin-bottom: 16px;
  }
  .property-list .property-wrapper .property-item-group {
    width: 100%;
  }
  .property-list .property-wrapper .property-item-group.property-access-wrapper {
    width: 100%;
  }
  .property-list .property-wrapper .property-item-group.property-access-wrapper .property-item.property-access {
    width: 100%;
  }
  .property-list .property-wrapper.property-my-apps .my-app-card {
    padding: 0 16px 4px;
  }
  .property-list .property-wrapper.property-my-apps .my-app-card .item-button {
    left: 16px;
  }
  .property-list .property-wrapper.property-billing-info .property-billing-detail {
    float: none;
    padding-right: 0;
  }
  .property-list .property-wrapper.property-billing-info .property-billing-update p {
    display: none;
  }
  .help-contact-button {
    display: none;
  }
  .sub-topnavbar .sub-nav-wrapper .sub-nav-back-wrapper {
    padding-right: 12px;
  }
  .sub-topnavbar .sub-nav-wrapper .sub-nav-tab-wrapper .sub-nav-tab-items a.sub-nav-tab-item {
    margin-left: 12px;
  }
}
