.help-contact-button.icon-left.icon-need-help
  | Need help contact support&nbsp;
  a(href='') here
.property-list
  .property-wrapper.property-my-apps
    .property-title
      h4 MY APPS
    ///// App Card Start
    .app-card.my-app-card(ng-repeat="app in myAppsInfo")
      .item-button
        button.positive-button(md-ink-ripple ng-click="") {{app.buttonText}}
      .tab-bar
        .tab-item(ng-class="{'activated': app.selectedTab==0}" ng-click="app.selectedTab=0") DESCRIPTION
        .tab-item(ng-class="{'activated': app.selectedTab==1}" ng-click="app.selectedTab=1") DETAILS
      .tab-contents(ng-show="app.selectedTab==0")
        .logo
          img(ng-src="{{app.description.logo.img}}" ng-if="app.description.logo.img!=''")
          h2(ng-if="app.description.logo.title!=''") {{app.description.logo.title}}
        .role {{app.description.role}}
        p {{app.description.text}}
      .tab-contents(ng-show="app.selectedTab==1")
        .row(ng-repeat="detail in app.detail")
          .detail-field.col.col-sm-3 {{detail.name}}:
          .col.col-sm-8
            span(ng-repeat="item in detail.data" class="{{detail.css}}") {{item.val}}
    ///// App Card End
    .contact-wrapper.text-center
      p Have an idea? we want to here about it!
      .subform-item.item-button
        button.positive-button(md-ink-ripple ng-click="") CONTACT