/** color values **/
@app-button-default-bg-color:             #fd6960;

@auth-form-button-text-color:             #fff;
@auth-form-link-color:                    rgb(249,249,249);
@auth-form-button-shadow-color:           rgba(0,0,0,0.29);
@auth-form-input-border-color:            rgb(183,187,192);
@auth-form-item-danger-color:             #ff4336;
@auth-form-item-danger-shadow-color:      rgba(0,0,0,0.95);

@auth-popup-background:                   rgb(249,249,249);
@auth-popup-subtitle-color:               rgb(253,105,96);
@auth-popup-subtitle-desc-color:          rgb(74,74,74);
@auth-popup-link-color:                   rgb(91,192,222);

@top-navbar-background-color:             rgb(255,255,255);
@menucloud-white-color:                   rgba(255,255,255,1);
@menucloud-light-dark-color:              rgba(74,74,74,1);
@menucloud-inline-color:                  rgba(213,213,213,1);
@menucloud-light-gray-color:              rgba(155,155,155,1);
@menucloud-light-gray-2-color:            rgba(151,151,151,1);
@menucloud-light-gray-3-color:            rgba(208,202,187,1);
@menucloud-light-gray-4-color:            rgba(151,151,151,0.5);
@menucloud-light-green-color:             rgba(80,227,194,1);
@menucloud-profile-text-color:            #4a4a4a;
@menucloud-positive-color:                #5BC0DE;
@menucloud-light-red-color:               rgba(253,109,100,1);
@menucloud-blue-color:                    rgba(74,144,226,1);

@menucloud-alert-title-color:             rgba(253,105,96,1);
@menucloud-alert-desc-color:              rgba(82,82,82,1);

@menucloud-side-bar-bg-color-1:           rgba(255,138,102,1);
@menucloud-side-bar-bg-color-2:           rgba(255,167,140,1);
@menucloud-side-bar-logo-border-color:    rgba(255,255,255,0.6);

@menucloud-sub-top-nav-back-color:        rgba(143,141,144,1);
@menucloud-sub-top-tab-color:             rgba(81,81,81,1);
@menucloud-sub-top-tab-active-color:      rgba(253,105,96,1);

@menucloud-main-section-bg-color:         rgba(255,255,255,1);
@menucloud-property-group-divider-color:  rgba(222,224,226,1);
@menucloud-property-group-text-color:     rgba(143,141,144,1);
@menucloud-property-item-border-color:    rgba(151,151,151,1);
@menucloud-property-input-label-color:    rgba(155,155,155,1);
@menucloud-property-input-border-color:   rgba(183,187,192,1);


/** layout values **/
// 1. auth-form
@auth-form-logo-width:                    247px;
@auth-form-item-width:                    300px;
@auth-form-item-height:                   40px;
@auth-form-item-margin:                   10px;
@auth-form-item-radius:                   3px;

// 2. top-nav-bar
@top-navbar-height:                       60px;
@sub-top-navbar-height:                   50px;

/** font sizes **/
@auth-form-item-font-size:                16px;
@auth-form-item-font-size-sm:             14px;
@auth-form-item-font-size-xs:             12px;

/** side-bar **/
@menucloud-side-bar-width:                200px;

/** page-section **/
@menucloud-property-list-width:           600px;
@menucloud-property-group-width:          328px;
@menucloud-property-access-group-width:   436px;