// top navbar
header.topnavbar-wrapper(ng-include="'app/views/partials/top-navbar.html'")

// sub-top navbar
header.sub-topnavbar-wrapper(ng-include="'app/views/partials/sub-top-navbar.html'", ng-controller="SubtopnavbarCtrl")

// sidebar
aside.aside(ng-include="'app/views/partials/sidebar.html'", ng-controller="SidebarController")

// offsidebar
aside.offsidebar(ng-include="'app/views/partials/offsidebar.html'")

// Main section
section.main-section

  // Page content
  .content-wrapper(ui-view="", autoscroll="false", ng-class="app.viewAnimation")
  
// Page footer
//footer(ng-include="'app/views/partials/footer.html'")

