doctype html
html(lang="en", data-ng-app="menucloud")

  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')

    meta(name='description', content='{{app.description}}')
    meta(name='keywords', content='app, responsive, angular, bootstrap, dashboard, admin')

    title(data-ng-bind="::pageTitle()") menuCLOUD | One Login for Everything Menu
    // Bootstrap styles
    link(rel='stylesheet', href='app/css/bootstrap.css', data-ng-if="!app.layout.isRTL")
    link(rel='stylesheet', href='app/css/bootstrap-rtl.css', data-ng-if="app.layout.isRTL")
    // ngMaterial styles
    link(rel='stylesheet', href='vendor/angular-material/angular-material.css')
    // Application styles
    link(rel='stylesheet', href='app/css/app.css', data-ng-if="!app.layout.isRTL")
    link(rel='stylesheet', href='app/css/app-rtl.css', data-ng-if="app.layout.isRTL")
    // Base styles
    link(rel='stylesheet', href='app/css/base.css')
    // Themes
    link(rel='stylesheet', ng-href='{{app.layout.theme}}', data-ng-if="app.layout.theme")
    //- apikey local = AIzaSyBt5R0R19WhScdNs1dRz8uw5oVzecg7G6E
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBt5R0R19WhScdNs1dRz8uw5oVzecg7G6E&libraries=places&language=en")

  //- body(block-ui="main" data-ng-class="{ 'layout-fixed' : app.layout.isFixed, 'aside-collapsed' : app.layout.isCollapsed, 'layout-boxed' : app.layout.isBoxed, 'layout-fs': app.useFullLayout, 'hidden-footer': app.hiddenFooter, 'layout-h': app.layout.horizontal, 'aside-float': app.layout.isFloat, 'offsidebar-open': app.offsidebarOpen, 'aside-toggled': app.asideToggled}")
  body(data-ng-class="{ 'layout-fixed' : app.layout.isFixed, 'aside-collapsed' : app.layout.isCollapsed, 'layout-boxed' : app.layout.isBoxed, 'layout-fs': app.useFullLayout, 'hidden-footer': app.hiddenFooter, 'layout-h': app.layout.horizontal, 'aside-float': app.layout.isFloat, 'offsidebar-open': app.offsidebarOpen, 'aside-toggled': app.asideToggled}")
    div(data-preloader)

    .wrapper(data-ui-view="", data-autoscroll='false')

    script(src='app/js/base.js')
    script(src='vendor/angular-material/angular-material.js')
    script(src='app/js/app.js')
    //- templates:js
    //- endinject
