<div ng-click="addCollaborator()" class="add-button add-collaborator">ADD COLLABORATORS</div>
<div class="property-list property-access-list">
   <div class="property-wrapper">
      <div class="property-title">
         <h4>COLLABORATORS</h4>
      </div>
      <div class="property-item-group property-access-wrapper">
         <div class="property-item property-access access-owner avatar-left">
            <div class="user-avatar">GS</div>
            <div class="username">Glen Sims</div>
            <div class="user-description">owner</div>
         </div>
         <div class="property-item property-access access-collaborator avatar-left icon-right icon-close-01">
            <div style="background-color: #4A4A4A" class="user-avatar">FC</div>
            <div class="username">Fred Carson</div>
            <div class="user-description">collaborator</div>
         </div>
         <div class="property-item property-access access-collaborator avatar-left icon-right icon-close-01">
            <div style="background-color: #BB76F8" class="user-avatar">AC</div>
            <div class="username">Amanda Casey</div>
            <div class="user-description">collaborator</div>
         </div>
      </div>
   </div>
</div>