<div ng-show="vm.okMsg" class="success-feedback-alert">{{vm.okMsg}}</div>
<div class="property-list">
   <div class="property-wrapper">
      <div class="property-title">
         <h4>LOCATION</h4>
      </div>
      <div class="property-item-group">
         <div ng-click="vm.edit.contact.location=true" ng-hide="vm.edit.contact.location" class="property-item icon-right icon-edit-pencil">1616 Carroll, New York, 74 493</div>
         <form role="form" name="vm.locationForm" novalidate="" ng-submit="vm.updateContactLocation()" ng-show="vm.edit.contact.location" class="property-item-subform">
            <div class="subform-item item-input item-margin-bottom icon-right icon-location-pin-full">
               <input type="text" name="location" placeholder="" ng-model="vm.ac_search" ng-autocomplete="" options="vm.ac_options" details="vm.ac_details" required="" />
               <span ng-show="vm.locationForm.location.$dirty &amp;&amp; vm.locationForm.location.$error.required" class="text-danger">* This field is required</span>
            </div>
            <div class="property-item">1616 Carroll, New York, 74 493</div>
            <div class="subform-item item-button">
               <button type="submit" md-ink-ripple="md-ink-ripple" ng-disabled="processing" class="positive-button">SAVE</button>
            </div>
            <div class="subform-item">
               <div ng-show="vm.errMsg" class="alert-danger text-center">{{vm.errMsg}}</div>
            </div>
         </form>
      </div>
   </div>
   <div class="property-wrapper">
      <div class="property-title">
         <h4>CONTACT</h4>
      </div>
      <div class="property-item-group">
         <div ng-click="vm.edit.contact.email=true" ng-hide="vm.edit.contact.email" class="property-item icon-right icon-edit-pencil">food.company@gmail.com</div>
         <form role="form" name="vm.emailForm" novalidate="" ng-submit="vm.updateContactEmail()" ng-show="vm.edit.contact.email" class="property-item-subform">
            <div class="property-item">food.company@gmail.com</div>
            <div class="subform-item item-input">
               <span class="input-label">New email</span>
               <input type="email" name="email" ng-model="vm.contact.email" placeholder="" required="" />
               <span ng-show="vm.emailForm.email.$dirty &amp;&amp; vm.emailForm.email.$error.required" class="text-danger">* This field is required</span>
               <span ng-show="vm.emailForm.email.$dirty &amp;&amp; vm.emailForm.email.$error.email" class="text-danger">* This field must be a valid email address</span>
            </div>
            <div class="subform-item item-input">
               <span class="input-label">Confirm new email</span>
               <input type="email" name="confirm_email" ng-model="vm.contact.confirm_email" placeholder="" ui-validate="'$value==vm.contact.email'" ui-validate-watch="'email'" required="" />
               <span ng-show="vm.emailForm.confirm_email.$dirty &amp;&amp; vm.emailForm.confirm_email.$error.required" class="text-danger">* This field is required</span>
               <span ng-show="vm.emailForm.confirm_email.$dirty &amp;&amp; vm.emailForm.confirm_email.$error.validator" class="text-danger">* Email does Not match</span>
            </div>
            <div class="subform-item item-button">
               <button type="submit" md-ink-ripple="md-ink-ripple" ng-disabled="processing" class="positive-button">SAVE</button>
            </div>
            <div class="subform-item">
               <div ng-show="vm.errMsg" class="alert-danger text-center">{{vm.errMsg}}</div>
            </div>
         </form>
      </div>
      <div class="property-item-group">
         <div ng-click="vm.edit.contact.phone=true" ng-hide="vm.edit.contact.phone" class="property-item icon-right icon-edit-pencil">08 9837 82</div>
         <form role="form" name="vm.phoneForm" novalidate="" ng-submit="vm.updateContactPhone()" ng-show="vm.edit.contact.phone" class="property-item-subform">
            <div class="property-item">08 9837 82</div>
            <div class="subform-item item-input">
               <span class="input-label">New phonenumber</span>
               <input type="number" name="phonenumber" ng-model="vm.contact.phonenumber" placeholder="" required="" />
               <span ng-show="vm.phoneForm.phonenumber.$dirty &amp;&amp; vm.phoneForm.phonenumber.$error.required" class="text-danger">* This field is required</span>
            </div>
            <div class="subform-item item-input">
               <span class="input-label">Confirm new phonenumber</span>
               <input type="number" name="confirm_phonenumber" ng-model="vm.contact.confirm_phonenumber" placeholder="" ui-validate="'$value==vm.contact.phonenumber'" ui-validate-watch="'phonenumber'" required="" />
               <span ng-show="vm.phoneForm.confirm_phonenumber.$dirty &amp;&amp; vm.phoneForm.confirm_phonenumber.$error.required" class="text-danger">* This field is required</span>
               <span ng-show="vm.phoneForm.confirm_phonenumber.$dirty &amp;&amp; vm.phoneForm.confirm_phonenumber.$error.validator" class="text-danger">* PhoneNumber does Not match</span>
            </div>
            <div class="subform-item item-button">
               <button type="submit" md-ink-ripple="md-ink-ripple" ng-disabled="processing" class="positive-button">SAVE</button>
            </div>
            <div class="subform-item">
               <div ng-show="vm.errMsg" class="alert-danger text-center">{{vm.errMsg}}</div>
            </div>
         </form>
      </div>
   </div>
   <div class="property-wrapper">
      <div class="property-title">
         <h4>DESCRIPTION</h4>
      </div>
      <div class="property-item-group">
         <div ng-click="vm.edit.contact.description=true" ng-hide="vm.edit.contact.description" class="property-item icon-right icon-edit-pencil">Give a brief description of your business</div>
         <form role="form" name="vm.descriptionForm" novalidate="" ng-submit="vm.updateContactDescription()" ng-show="vm.edit.contact.description" class="property-item-subform">
            <div class="subform-item item-input">
               <textarea ng-model="vm.contact.description" placeholder="Give a brief description of your business"></textarea>
            </div>
            <div class="subform-item item-button">
               <button type="submit" md-ink-ripple="md-ink-ripple" ng-disabled="processing" class="positive-button">SAVE</button>
            </div>
            <div class="subform-item">
               <div ng-show="vm.errMsg" class="alert-danger text-center">{{vm.errMsg}}</div>
            </div>
         </form>
      </div>
   </div>
</div>