<div ng-controller="RestaurantCtrl as vm" ng-class="{'has-sub-topnavbar': app.layout.hasSubTopNavBar}" class="page-main-container property-container">
   <div class="sub-section-tab-wrapper">
      <div ng-show="subtopnavbar.tabId==0" ng-include="'app/views/restaurant/contact.html'" class="tab-wrapper"></div>
      <div ng-show="subtopnavbar.tabId==1" ng-include="'app/views/restaurant/access.html'" class="tab-wrapper"></div>
   </div>
</div>