<!-- Inline template with sidebar items markup and ng-directives-->
<script type="text/ng-template" id="sidebar-renderer.html">
   <span ng-if="item.heading">{{(item.translate | translate) || item.text}}</span><a ng-if="!item.heading" ng-href="{{$state.href(item.sref, item.params)}}" title="{{item.text}}"><div ng-if="item.alert" ng-class="item.label || 'label label-success'" class="pull-right">{{item.alert}}</div><em ng-if="item.icon" class="{{item.icon}}"></em><span>{{(item.translate | translate) || item.text}}</span></a><ul ng-if="item.submenu" uib-collapse="isCollapse(pIndex)" ng-init="addCollapse(pIndex, item)" class="nav sidebar-subnav"><li class="sidebar-subnav-header">{{(item.translate | translate) || item.text}}</li><li ng-repeat="item in item.submenu" ng-include="'sidebar-renderer.html'" ng-class="getMenuItemPropClasses(item)" ng-init="pIndex=(pIndex+'-'+$index); inSubmenu = true" ng-click="toggleCollapse(pIndex)"></li></ul>
</script>
<!-- START Sidebar (left)-->
<div class="aside-inner app-side-menu">
   <nav sidebar="" sidebar-anyclick-close="" ng-class="{'show-scrollbar': app.layout.asideScrollbar, 'has-sub-topnavbar': app.layout.hasSubTopNavBar}" class="sidebar">
      <!-- START sidebar nav-->
      <div class="sidebar-header hidden-xs">
         <img src="/app/img/Logo_02.png" class="full-image" />
      </div>
      <ul class="nav">
         <!-- Quick Links-->
         <li class="side-quick-links">
            <a href="">
               <em class="icon-star"></em>
               <span>QUICK LINKS</span>
               <em class="icon-more"></em>
            </a>
            <div class="link-items hidden-xs"><a href="" ng-repeat="item in sidebar.quickLinks" ng-click="onPageGo(item.sref, item.text, false)" class="link-item">{{item.text}}</a>
            </div>
            <div class="link-items visible-xs"><a href="" ng-repeat="item in sidebar.quickLinks" ng-click="onPageGo(item.sref, item.text, true)" class="link-item">{{item.text}}</a>
            </div>
         </li>
         <!-- Iterates over all sidebar items-->
         <li ng-class="getMenuItemPropClasses(item)" ng-repeat="item in menuItems" ng-init="pIndex = $index" ng-include="'sidebar-renderer.html'" ng-click="toggleCollapse(pIndex, true, false)" class="hidden-xs"></li>
         <li ng-class="getMenuItemPropClasses(item)" ng-repeat="item in menuItems" ng-init="pIndex = $index" ng-include="'sidebar-renderer.html'" ng-click="toggleCollapse(pIndex, true, true)" class="visible-xs"></li>
         <!-- Add Extension-->
         <!-- li.side-add-extensiona(href='')
  em.icon-plus
  span ADD EXTENSION-->
      </ul>
      <!-- END sidebar nav-->
   </nav>
</div>
<!-- END Sidebar (left)-->