<!-- START Sub Top Navbar-->
<nav ng-show="app.layout.hasSubTopNavBar" class="navbar sub-topnavbar">
   <!-- START Sub Nav wrapper-->
   <div class="sub-nav-wrapper">
      <!-- START Tab-->
      <div class="sub-nav-tab-wrapper">
         <div class="sub-nav-tab-items">
            <a href="" ng-class="{'active': subtopnavbar.tabId==$index}" ng-click="onSelectTab($index)" ng-repeat="item in subtopnavbar.items" class="sub-nav-tab-item">
               <em class="{{item.iconClass}}"></em>
               <span>{{item.title}}</span>
            </a>
         </div>
      </div>
      <!-- END Tab-->
      <!-- START Back Button-->
      <div class="sub-nav-back-wrapper">
         <a ui-sref="{{subtopnavbar.navBack.uri}}">
            <em class="icon-nav-back"></em>
            <span class="hidden-xs">{{subtopnavbar.navBack.title}}</span>
         </a>
      </div>
      <!-- END Back Button-->
   </div>
   <!-- START Sub Nav wrapper-->
</nav>
<!-- END Sub Top Navbar-->