<!-- START Top Navbar-->
<nav role="navigation" class="navbar topnavbar">
   <!-- START navbar header-->
   <div class="navbar-header visible-xs">
      <!-- Nav bar Title-->
      <div class="mobile-nav-title-wrapper">
         <h3 class="navbar-title">{{topnavbar.title}}</h3>
      </div>
   </div>
   <!-- END navbar header-->
   <!-- START Nav wrapper-->
   <div class="nav-wrapper">
      <!-- Nav bar Title-->
      <div class="nav-title-wrapper vertical-mid-container hidden-xs">
         <h3 class="navbar-title vertical-mid-inner hidden-xs">{{topnavbar.title}}</h3>
      </div>
      <!-- START Left navbar-->
      <ul class="nav navbar-nav">
         <li class="hidden-xs">
            <!-- Button used to collapse the left sidebar. Only visible on tablet and desktops-->
            <a href="" trigger-resize="" ng-click="app.layout.isCollapsed = !app.layout.isCollapsed" class="vertical-mid-container">
               <em class="vertical-mid-inner icon-menu-topbar"></em>
            </a>
         </li>
         <li class="mobile-menu-toggle visible-xs">
            <!-- Button used to collapse the left sidebar. Only visible on tablet and desktops-->
            <a href="" trigger-resize="" ng-click="app.layout.isCollapsed = !app.layout.isCollapsed" class="vertical-mid-container">
               <em class="vertical-mid-inner icon-menu-topbar"></em>
            </a>
         </li>
         <!-- Full-screen button //.visible-lg-->
         <li class="hidden-xs">
            <a href="" toggle-fullscreen="toggle-fullscreen" class="vertical-mid-container">
               <em class="vertical-mid-inner icon-full-screen"></em>
            </a>
         </li>
      </ul>
      <!-- END Left navbar-->
      <!-- START Right Navbar-->
      <ul class="nav navbar-nav navbar-right">
         <!-- Notification Button-->
         <li uib-dropdown="" class="dropdown dropdown-list">
            <a href="" ng-click="" uib-dropdown-toggle="" aria-haspopup="" aria-expanded="" class="vertical-mid-container dropdown-toggle">
               <em class="vertical-mid-inner icon-notification"></em>
            </a>
            <div class="dropdown-menu dropdown-menu-notification">
               <a class="notification-item">
                  <div class="top-right-part"><i class="icon-x close-icon-btn"></i>
                     <span class="sent-time">09:13 AM</span>
                  </div>
                  <div class="notification-content">
                     <div class="green-dot"></div>
                     <div class="notification-title">Notification one</div>
                     <div class="notification-des">This is a regular notification</div>
                  </div>
               </a>
               <a class="notification-item">
                  <div class="top-right-part"><i class="icon-x close-icon-btn"></i>
                     <span class="sent-time">09:13 AM</span>
                  </div>
                  <div class="notification-content">
                     <div class="green-dot"></div>
                     <div class="notification-title">Notification two</div>
                     <div class="notification-des">This is a regular notification</div>
                  </div>
               </a>
               <a class="notification-item">
                  <div class="top-right-part"><i class="icon-x close-icon-btn"></i>
                     <span class="sent-time">09:13 AM</span>
                  </div>
                  <div class="notification-content">
                     <div class="green-dot"></div>
                     <div class="notification-title">Notification three</div>
                     <div class="notification-des">This is a regular notification</div>
                  </div>
               </a><a class="close-all-notification">Close all notifications</a>
            </div>
         </li>
         <!-- Help Button-->
         <li>
            <a href="" ng-click="" class="vertical-mid-container">
               <em class="vertical-mid-inner icon-support"></em>
            </a>
         </li>
         <!-- User Profile button-->
         <li uib-dropdown="" class="dropdown dropdown-list">
            <a href="" ng-click="" uib-dropdown-toggle="" aria-haspopup="" aria-expanded="" class="vertical-mid-container dropdown-toggle">
               <div class="vertical-mid-inner user-profile-topbar-button">{{user.first_name.charAt(0).toUpperCase()+user.last_name.charAt(0).toUpperCase()}}</div>
            </a>
            <div class="dropdown-menu dropdown-menu-profile">
               <div class="lock-screen-container"><a ui-sref="page.lock" class="lock-screen-btn">LOCK SCREEN<i class="lock-icon icon-lock-open"></i></a>
               </div>
               <div class="user-info-container">
                  <div class="user-photo">{{user.first_name.charAt(0).toUpperCase()+user.last_name.charAt(0).toUpperCase()}}</div>
                  <div class="user-full-name">{{user.first_name}} {{user.last_name}}</div>
               </div>
               <div class="item-list-container">
                  <ul>
                     <li><a ui-sref="app.profile">Profile</a>
                     </li>
                     <li><a href="" ng-click="$logout()">Sign out</a>
                     </li>
                  </ul>
               </div>
            </div>
         </li>
      </ul>
      <!--ul.nav.navbar-nav.navbar-right.visible-xs// User Profile button
li.dropdown.dropdown-list(uib-dropdown='')
  a.vertical-mid-container.dropdown-toggle(href='', ng-click='' uib-dropdown-toggle='' aria-haspopup='' aria-expanded='')
    div.vertical-mid-inner.user-profile-topbar-button {{user.first_name.charAt(0).toUpperCase()+user.last_name.charAt(0).toUpperCase()}}
  .dropdown-menu.dropdown-menu-profile
    .lock-screen-container
      a.lock-screen-btn(ui-sref="page.lock") LOCK SCREEN
        i.lock-icon.icon-lock-open
    .user-info-container
      .user-photo {{user.first_name.charAt(0).toUpperCase()+user.last_name.charAt(0).toUpperCase()}}
      .user-full-name {{user.first_name}} {{user.last_name}}
    .item-list-container
      ul
        li
          a Profile
        li
          a(href='', ng-click='$logout()') Sign out

// START lock screen
// li
  // a(ui-sref="page.lock" title="Lock screen")
     // em.icon-lock
// END lock screen
// Fullscreen (only desktops)
// li.visible-lg
  // a(href='', toggle-fullscreen)
    // em.fa.fa-expand

//li
  // Button used to toggle profile block on menu
  //- .dropdown
    .btn.btn-default.dropdown-toggle#profileMenu(data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" )
      em.icon-user
  a(href='', ng-click="$logout()" alt="Logout")
    em.icon-logout
    span Logout
// Search icon
//- li
  a(search-open="")
    em.icon-magnifier
// START Offsidebar button
//- li
  a(href='', ng-click="app.offsidebarOpen = !app.offsidebarOpen")
    em.icon-notebook
// END Offsidebar menu-->
      <!-- END Right Navbar-->
   </div>
   <!-- END Nav wrapper-->
   <!-- START Search form-->
   <!-- END Search form-->
</nav>
<!-- END Top Navbar-->