<form ng-controller="AuthRecoverCtrl as vm" role="form" name="vm.recoverForm" novalidate="" ng-submit="vm.resetPassword()" ng-autodisable="ng-autodisable" class="auth-form has-subtitle form-validate">
   <div class="form-item form-item-margin">
      <input type="email" name="email" placeholder="Email" autocomplete="off" ng-model="vm.email" required="" ng-class="{'input-danger': vm.recoverForm.email.$dirty &amp;&amp; (vm.recoverForm.email.$error.required || vm.recoverForm.email.$error.email)}"
      />
      <span ng-show="vm.recoverForm.email.$dirty &amp;&amp; vm.recoverForm.email.$error.required" class="text-danger">* This field is required</span>
      <span ng-show="vm.recoverForm.email.$dirty &amp;&amp; vm.recoverForm.email.$error.email" class="text-danger">* This field must be a valid email address</span>
   </div>
   <div class="form-item form-item-margin-2x">
      <button type="submit" ng-disabled="processing" md-ink-ripple="md-ink-ripple" class="btn button">SIGN IN</button>
   </div>
   <div ng-show="vm.errMsg" class="form-item form-item-margin-2x alert alert-danger text-center">{{vm.errMsg}}</div>
   <div ng-show="vm.okMsg" class="form-item form-item-margin-2x alert alert-success text-center">{{vm.okMsg}}</div>
</form>