<form ng-controller="AuthLockCtrl as vm" role="form" name="vm.loginForm" novalidate="" ng-submit="vm.login()" ng-autodisable="ng-autodisable" class="auth-form has-subtitle form-validate">
   <div class="form-item form-item-margin">
      <input type="password" name="account_password" placeholder="Password" ng-model="vm.account.password" ng-pattern="/^[a-zA-Z0-9]{8,32}$/" ng-required="true" ng-class="{'input-danger': vm.loginForm.account_password.$dirty &amp;&amp; (vm.loginForm.account_password.$error.required || vm.loginForm.account_password.$error.pattern)}"
      />
      <span ng-show="vm.loginForm.account_password.$dirty &amp;&amp; vm.loginForm.account_password.$error.required" class="text-danger">* This field is required</span>
      <span ng-show="vm.loginForm.account_password.$dirty &amp;&amp; vm.loginForm.account_password.$error.pattern" class="text-danger">* Input should match 'a-zA-Z0-9' and 8-32 length</span>
   </div>
   <div class="form-item form-item-margin-2x">
      <button type="submit" ng-disabled="vm.loading" md-ink-ripple="md-ink-ripple" class="btn button">SIGN IN</button>
   </div>
   <div ng-show="vm.errMsg" class="form-item form-item-margin-2x alert alert-danger text-center">{{vm.errMsg}}</div>
   <div ng-show="vm.okMsg" class="form-item form-item-margin-2x alert alert-success text-center">{{vm.okMsg}}</div>
</form>