<div ng-controller="AuthLoginCtrl as vm">
   <div class="block-center mt-xl wd-xl hidden-xs hidden-sm">
      <div class="panel panel-brand panel-flat">
         <div class="panel-heading text-center">
            <a href="#">
               <img src="app/img/logo.png" alt="Image" class="block-center img-rounded" />
            </a>
         </div>
         <div class="panel-body">
            <p class="text-center pv">SIGN IN TO CONTINUE.</p>
            <form role="form" ng-submit="vm.login()" name="vm.loginForm" novalidate="" ng-autodisable="ng-autodisable" class="form-validate mb-lg">
               <div class="form-group has-feedback">
                  <input id="exampleInputEmail1" type="email" name="email" placeholder="Enter email" autocomplete="off" ng-model="vm.account.email" required="" class="form-control" />
                  <span class="fa fa-profile form-control-feedback text-muted"></span>
                  <span ng-show="vm.loginForm.email.$dirty &amp;&amp; vm.loginForm.email.$error.required" class="text-danger">This field is required</span>
                  <span ng-show="vm.loginForm.email.$dirty &amp;&amp; vm.loginForm.email.$error.email" class="text-danger">This field must be a valid email address</span>
               </div>
               <div class="form-group has-feedback">
                  <input id="exampleInputPassword1" type="password" name="password" placeholder="Password" ng-model="vm.account.password" required="" class="form-control" />
                  <span class="fa fa-lock form-control-feedback text-muted"></span>
                  <span ng-show="vm.loginForm.password.$dirty &amp;&amp; vm.loginForm.password.$error.required" class="text-danger">This field is required</span>
               </div>
               <div class="clearfix">
                  <div class="pull-right"><a ui-sref="page.recover" class="text-muted">Forgot your password?</a>
                  </div>
               </div>
               <button type="submit" ng-disabled="vm.loading" class="btn btn-block btn-primary mt-lg">Login</button>
            </form>
            <div ng-show="vm.errMsg" class="alert alert-danger text-center">{{vm.errMsg}}</div>
            <div ng-show="vm.okMsg" class="alert alert-success text-center">{{vm.okMsg}}</div>
            <div ng-show="vm.unverified &amp;&amp; vm.loginForm.email.$valid" class="alert alert-warning text-center"><a ng-click="vm.getVerified()" class="text-white">Click here if you did not get another copy of confirmation email</a>
            </div>
            <p class="pt-lg text-center">Need to Signup?</p><a ui-sref="page.register" class="btn btn-block btn-default">Register Now</a>
         </div>
      </div>
      <!-- END panel-->
      <div class="p-lg text-center">
         <span>&copy;</span>
         <span ng-bind="app.year"></span>
         <span>-</span>
         <span ng-bind="app.name"></span>
         <br/>
         <span ng-bind="app.description"></span>
      </div>
   </div>
   <div class="visible-xs visible-sm">
      <div class="panel panel-brand panel-flat">
         <div class="panel-heading text-center">
            <a href="#">
               <img src="app/img/logo.png" alt="Image" class="block-center img-rounded" />
            </a>
         </div>
         <div class="panel-body">
            <p class="text-center pv">SIGN IN TO CONTINUE.</p>
            <form role="form" ng-submit="vm.login()" name="vm.loginForm" novalidate="" ng-autodisable="ng-autodisable" class="form-validate mb-lg">
               <div class="form-group has-feedback">
                  <input id="exampleInputEmail1" type="email" name="email" placeholder="Enter email" autocomplete="off" ng-model="vm.account.email" required="" class="form-control" />
                  <span class="fa fa-profile form-control-feedback text-muted"></span>
                  <span ng-show="vm.loginForm.email.$dirty &amp;&amp; vm.loginForm.email.$error.required" class="text-danger">This field is required</span>
                  <span ng-show="vm.loginForm.email.$dirty &amp;&amp; vm.loginForm.email.$error.email" class="text-danger">This field must be a valid email address</span>
               </div>
               <div class="form-group has-feedback">
                  <input id="exampleInputPassword1" type="password" name="password" placeholder="Password" ng-model="vm.account.password" required="" class="form-control" />
                  <span class="fa fa-lock form-control-feedback text-muted"></span>
                  <span ng-show="vm.loginForm.password.$dirty &amp;&amp; vm.loginForm.password.$error.required" class="text-danger">This field is required</span>
               </div>
               <div class="clearfix">
                  <div class="pull-right"><a ui-sref="page.recover" class="text-muted">Forgot your password?</a>
                  </div>
               </div>
               <button type="submit" ng-disabled="vm.loading" class="btn btn-block btn-primary mt-lg">Login</button>
            </form>
            <div ng-show="vm.errMsg" class="alert alert-danger text-center">{{vm.errMsg}}</div>
            <div ng-show="vm.okMsg" class="alert alert-success text-center">{{vm.okMsg}}</div>
            <div ng-show="vm.unverified &amp;&amp; vm.loginForm.email.$valid" class="alert alert-warning text-center"><a ng-click="vm.getVerified()" class="text-white">Click here if you did not get another copy of confirmation email</a>
            </div>
            <p class="pt-lg text-center">Need to Signup?</p><a ui-sref="page.register" class="btn btn-block btn-default">Register Now</a>
         </div>
      </div>
      <!-- END panel-->
      <div class="p-lg text-center">
         <span>&copy;</span>
         <span ng-bind="app.year"></span>
         <span>-</span>
         <span ng-bind="app.name"></span>
         <br/>
         <span ng-bind="app.description"></span>
      </div>
      <!-- START panel-->
   </div>
</div>