<div autoscroll="false">
   <div class="auth-bg box-center">
      <div class="auth-form-container signup-form">
         <div class="logo-container">
            <div class="logo"></div>
         </div>
         <div ng-show="auth.form.title.name!='' || auth.form.title.description!=''" class="subtitle text-center">
            <div ng-show="auth.form.title.name!=''" ng-class="{'has-icon': auth.form.title.hasIcon}" class="title">{{auth.form.title.name}}</div><i ng-show="auth.form.title.hasIcon" class="{{auth.form.title.icon}}"></i>
            <div ng-show="auth.form.title.description!=''" class="desc">{{auth.form.title.description}}</div>
         </div>
         <div ui-view=""></div>
      </div>
   </div>
   <div ng-include="'app/pages/partials/auth-popup.html'"></div>
</div>