<div ng-controller="AuthRecoverCtrl as re" class="block-center mt-xl wd-xl">
   <!-- START panel-->
   <div class="panel panel-brand panel-flat">
      <div class="panel-heading text-center">
         <a href="#">
            <img src="app/img/logo.png" alt="Image" class="block-center img-rounded" />
         </a>
      </div>
      <div class="panel-body">
         <p class="text-center pv">PASSWORD RESET</p>
         <form role="form" name="re.recoverForm" novalidate="" ng-submit="re.resetPassword()" class="form-validate">
            <p class="text-center">Fill with your mail to receive instructions on how to reset your password.</p>
            <div class="form-group has-feedback">
               <label class="text-muted">Email address</label>
               <input type="email" name="email" placeholder="Enter email" autocomplete="off" ng-model="re.email" required="" class="form-control" />
               <span class="fa fa-envelope form-control-feedback text-muted"></span>
               <span ng-show="re.recoverForm.email.$dirty &amp;&amp; re.recoverForm.email.$error.required" class="text-danger">This field is required</span>
               <span ng-show="re.recoverForm.email.$dirty &amp;&amp; re.recoverForm.email.$error.email" class="text-danger">This field must be a valid email address</span>
            </div>
            <button type="submit" ng-disabled="processing" class="btn btn-warning btn-block">Reset</button>
            <button ui-sref="page.login" class="btn btn-gray btn-block">Back to Login</button>
         </form>
         <p></p>
         <div ng-show="re.errMsg" class="alert alert-danger text-center">{{re.errMsg}}</div>
         <div ng-show="re.okMsg" class="alert alert-success text-center">{{re.okMsg}}</div>
      </div>
   </div>
   <!-- END panel-->
   <div class="p-lg text-center">
      <span>&copy;</span>
      <span ng-bind="app.year"></span>
      <span>-</span>
      <span ng-bind="app.name"></span>
      <br/>
      <span ng-bind="app.description"></span>
   </div>
</div>