<div ng-controller="AuthRegisterCtrl as reg">
   <div class="block-center mt-xl wd-xl hidden-sm hidden-xs">
      <div class="panel panel-brand panel-flat">
         <div class="panel-heading text-center">
            <a href="#">
               <img src="app/img/logo.png" alt="Image" class="block-center img-rounded" />
            </a>
         </div>
         <div class="panel-body">
            <p class="text-center pv">SIGNUP TO GET INSTANT ACCESS.</p>
            <form role="form" name="reg.registerForm" novalidate="" ng-submit="reg.register()" class="form-validate mb-lg">
               <div class="form-group has-feedback">
                  <label class="text-muted">Email address</label>
                  <input type="email" name="email" placeholder="Enter email" autocomplete="off" ng-model="reg.account.email" ng-required="true" class="form-control" />
                  <span class="fa fa-envelope form-control-feedback text-muted"></span>
                  <span ng-show="reg.registerForm.email.$dirty &amp;&amp; reg.registerForm.email.$error.required" class="text-danger">This field is required</span>
                  <span ng-show="reg.registerForm.email.$dirty &amp;&amp; reg.registerForm.email.$error.email" class="text-danger">This field must be a valid email address</span>
               </div>
               <div class="form-group has-feedback">
                  <label class="text-muted">First Name</label>
                  <input type="text" name="first_name" placeholder="First Name" autocomplete="off" ng-model="reg.account.first_name" ng-required="true" class="form-control" />
                  <span ng-show="reg.registerForm.first_name.$dirty &amp;&amp; reg.registerForm.first_name.$error.required" class="text-danger">First Name is required</span>
               </div>
               <div class="form-group has-feedback">
                  <label class="text-muted">Last Name</label>
                  <input type="text" name="last_name" placeholder="Last Name" autocomplete="off" ng-model="reg.account.last_name" ng-required="true" class="form-control" />
                  <span ng-show="reg.registerForm.last_name.$dirty &amp;&amp; reg.registerForm.last_name.$error.required" class="text-danger">Last Name is required</span>
               </div>
               <div class="form-group has-feedback">
                  <label class="text-muted">Password</label>
                  <input id="id-password" type="password" name="password" ng-model="reg.account.password" ng-pattern="/^[a-zA-Z0-9]{8,32}$/" ng-required="true" class="form-control" />
                  <span class="fa fa-lock form-control-feedback text-muted"></span>
                  <span ng-show="reg.registerForm.password.$dirty &amp;&amp; reg.registerForm.password.$error.required" class="text-danger">This field is required</span>
                  <span ng-show="reg.registerForm.password.$dirty &amp;&amp; reg.registerForm.password.$error.pattern" class="text-danger">Input should match 'a-zA-Z0-9' and 8-32 length</span>
               </div>
               <div class="form-group has-feedback">
                  <label class="text-muted">Retype Password</label>
                  <input type="password" name="password_confirm" ng-model="reg.account.password_confirm" ui-validate="'$value==reg.account.password'" ui-validate-watch="'password'" class="form-control" />
                  <span class="fa fa-lock form-control-feedback text-muted"></span>
                  <span ng-show="reg.registerForm.password_confirm.$dirty &amp;&amp; reg.registerForm.password_confirm.$error.validator" class="text-danger">Password does Not match</span>
               </div>
               <div class="clearfix">
                  <div class="checkbox c-checkbox pull-left mt0">
                     <label>
                        <input type="checkbox" ng-required="true" name="terms_accepted" ng-model="reg.account.terms_accepted" />
                        <span class="fa fa-check"></span>I agree with the <a href="#">terms</a>
                     </label>
                  </div>
               </div>
               <div ng-show="reg.registerForm.terms_accepted.$dirty &amp;&amp; reg.registerForm.terms_accepted.$error.required" class="text-danger">You must agree the terms</div>
               <button type="submit" class="btn btn-block btn-primary mt-lg">Create account</button>
            </form>
            <div ng-show="reg.okMsg" class="alert alert-success text-center">{{reg.okMsg}}</div>
            <div ng-show="reg.authMsg" class="alert alert-danger text-center">{{reg.authMsg}}</div>
            <p class="pt-lg text-center">Have an account?</p><a ui-sref="page.login" class="btn btn-block btn-default">Login Now</a>
         </div>
      </div>
      <!-- END panel-->
      <div class="p-lg text-center">
         <span>&copy;</span>
         <span ng-bind="app.year"></span>
         <span>-</span>
         <span ng-bind="app.name"></span>
         <br/>
         <span ng-bind="app.description"></span>
      </div>
   </div>
   <div class="visible-sm visible-xs">
      <div class="panel panel-brand panel-flat">
         <div class="panel-heading text-center">
            <a href="#">
               <img src="app/img/logo.png" alt="Image" class="block-center img-rounded" />
            </a>
         </div>
         <div class="panel-body">
            <p class="text-center pv">SIGNUP TO GET INSTANT ACCESS.</p>
            <form role="form" name="reg.registerForm" novalidate="" ng-submit="reg.register()" class="form-validate mb-lg">
               <div class="form-group has-feedback">
                  <label class="text-muted">Email address</label>
                  <input type="email" name="email" placeholder="Enter email" autocomplete="off" ng-model="reg.account.email" ng-required="true" class="form-control" />
                  <span class="fa fa-envelope form-control-feedback text-muted"></span>
                  <span ng-show="reg.registerForm.email.$dirty &amp;&amp; reg.registerForm.email.$error.required" class="text-danger">This field is required</span>
                  <span ng-show="reg.registerForm.email.$dirty &amp;&amp; reg.registerForm.email.$error.email" class="text-danger">This field must be a valid email address</span>
               </div>
               <div class="form-group has-feedback">
                  <label class="text-muted">First Name</label>
                  <input type="text" name="first_name" placeholder="First Name" autocomplete="off" ng-model="reg.account.first_name" ng-required="true" class="form-control" />
                  <span ng-show="reg.registerForm.first_name.$dirty &amp;&amp; reg.registerForm.first_name.$error.required" class="text-danger">First Name is required</span>
               </div>
               <div class="form-group has-feedback">
                  <label class="text-muted">Last Name</label>
                  <input type="text" name="last_name" placeholder="Last Name" autocomplete="off" ng-model="reg.account.last_name" ng-required="true" class="form-control" />
                  <span ng-show="reg.registerForm.last_name.$dirty &amp;&amp; reg.registerForm.last_name.$error.required" class="text-danger">Last Name is required</span>
               </div>
               <div class="form-group has-feedback">
                  <label class="text-muted">Password</label>
                  <input id="id-password" type="password" name="password" ng-model="reg.account.password" ng-pattern="/^[a-zA-Z0-9]{8,32}$/" ng-required="true" class="form-control" />
                  <span class="fa fa-lock form-control-feedback text-muted"></span>
                  <span ng-show="reg.registerForm.password.$dirty &amp;&amp; reg.registerForm.password.$error.required" class="text-danger">This field is required</span>
                  <span ng-show="reg.registerForm.password.$dirty &amp;&amp; reg.registerForm.password.$error.pattern" class="text-danger">Input should match 'a-zA-Z0-9' and 8-32 length</span>
               </div>
               <div class="form-group has-feedback">
                  <label class="text-muted">Retype Password</label>
                  <input type="password" name="password_confirm" ng-model="reg.account.password_confirm" ui-validate="'$value==reg.account.password'" ui-validate-watch="'password'" class="form-control" />
                  <span class="fa fa-lock form-control-feedback text-muted"></span>
                  <span ng-show="reg.registerForm.password_confirm.$dirty &amp;&amp; reg.registerForm.password_confirm.$error.validator" class="text-danger">Password does Not match</span>
               </div>
               <div class="clearfix">
                  <div class="checkbox c-checkbox pull-left mt0">
                     <label>
                        <input type="checkbox" ng-required="true" name="terms_accepted" ng-model="reg.account.terms_accepted" />
                        <span class="fa fa-check"></span>I agree with the <a href="#">terms</a>
                     </label>
                  </div>
               </div>
               <div ng-show="reg.registerForm.terms_accepted.$dirty &amp;&amp; reg.registerForm.terms_accepted.$error.required" class="text-danger">You must agree the terms</div>
               <button type="submit" class="btn btn-block btn-primary mt-lg">Create account</button>
            </form>
            <div ng-show="reg.okMsg" class="alert alert-success text-center">{{reg.okMsg}}</div>
            <div ng-show="reg.authMsg" class="alert alert-danger text-center">{{reg.authMsg}}</div>
            <p class="pt-lg text-center">Have an account?</p><a ui-sref="page.login" class="btn btn-block btn-default">Login Now</a>
         </div>
      </div>
      <!-- END panel-->
      <div class="p-lg text-center">
         <span>&copy;</span>
         <span ng-bind="app.year"></span>
         <span>-</span>
         <span ng-bind="app.name"></span>
         <br/>
         <span ng-bind="app.description"></span>
      </div>
   </div>
   <!-- START panel-->
</div>