<div ng-controller="AuthResetCtrl as vm" class="block-center mt-xl wd-xl">
   <!-- START panel-->
   <div class="panel panel-brand panel-flat">
      <div class="panel-heading text-center">
         <a href="#">
            <img src="app/img/logo.png" alt="Image" class="block-center img-rounded" />
         </a>
      </div>
      <div class="panel-body">
         <div ng-show="!vm.invalidMsg">
            <p class="text-center">Hello {{vm.password_owner.first_name}} {{vm.password_owner.last_name}}!</p>
            <p class="text-center pv">SET YOUR NEW PASSWORD TO CONTINUE.</p>
         </div>
         <form role="form" ng-submit="vm.setPassword()" name="vm.passwordForm" novalidate="" ng-autodisable="ng-autodisable" ng-show="!vm.invalidMsg" class="form-validate mb-lg">
            <div class="form-group has-feedback">
               <label class="text-muted">Type Your New Password</label>
               <input type="password" name="account_password" ng-model="vm.account.password" ng-pattern="/^[a-zA-Z0-9]{8,32}$/" ng-required="true" class="form-control" />
               <span class="fa fa-lock form-control-feedback text-muted"></span>
               <span ng-show="vm.passwordForm.account_password.$dirty &amp;&amp; vm.passwordForm.account_password.$error.required" class="text-danger">This field is required</span>
               <span ng-show="vm.passwordForm.account_password.$dirty &amp;&amp; vm.passwordForm.account_password.$error.pattern" class="text-danger">Input should match 'a-zA-Z0-9' and 8-32 length</span>
            </div>
            <div class="form-group has-feedback">
               <label class="text-muted">Retype New Password</label>
               <input type="password" name="account_password_confirm" ng-model="vm.account.password_confirm" ui-validate="'$value==vm.account.password'" ui-validate-watch="'password'" class="form-control" />
               <span class="fa fa-lock form-control-feedback text-muted"></span>
               <span ng-show="vm.passwordForm.account_password_confirm.$dirty &amp;&amp; vm.passwordForm.account_password_confirm.$error.validator" class="text-danger">Password does Not match</span>
            </div>
            <div class="clearfix">
               <button type="submit" ng-disabled="processing" class="btn btn-block btn-primary mt-lg">Set New Password</button>
            </div>
         </form>
         <div ng-show="vm.errMsg || vm.invalidMsg" class="alert alert-danger text-center">{{vm.errMsg || vm.invalidMsg}}</div>
         <p class="pt-lg text-center">Need to Signup?</p><a ui-sref="page.login" class="btn btn-block btn-default">Login</a><a ui-sref="page.register" class="btn btn-block btn-default">Register Now</a>
      </div>
   </div>
   <!-- END panel-->
   <div class="p-lg text-center">
      <span>&copy;</span>
      <span ng-bind="app.year"></span>
      <span>-</span>
      <span ng-bind="app.name"></span>
      <br/>
      <span ng-bind="app.description"></span>
   </div>
</div>