<form ng-controller="AuthResetCtrl as vm" role="form" name="vm.passwordForm" novalidate="" ng-submit="vm.setPassword()" ng-show="!vm.invalidMsg" ng-autodisable="ng-autodisable" class="auth-form has-subtitle form-validate">
   <div class="form-item form-item-margin">
      <input type="password" name="account_password" placeholder="Password" ng-model="vm.account.password" ng-pattern="/^[a-zA-Z0-9]{8,32}$/" ng-required="true" ng-class="{'input-danger': vm.passwordForm.account_password.$dirty &amp;&amp; (vm.passwordForm.account_password.$error.required || vm.passwordForm.account_password.$error.pattern)}"
      />
      <span ng-show="vm.passwordForm.account_password.$dirty &amp;&amp; vm.passwordForm.account_password.$error.required" class="text-danger">* This field is required</span>
      <span ng-show="vm.passwordForm.account_password.$dirty &amp;&amp; vm.passwordForm.account_password.$error.pattern" class="text-danger">* Input should match 'a-zA-Z0-9' and 8-32 length</span>
   </div>
   <div class="form-item form-item-margin">
      <input type="password" name="account_password_confirm" placeholder="Confirm password" ng-model="vm.account.password_confirm" ui-validate="'$value==vm.account.password'" ui-validate-watch="'password'" required="" ng-class="{'input-danger': vm.passwordForm.account_password_confirm.$dirty &amp;&amp; (vm.passwordForm.account_password_confirm.$error.required || vm.passwordForm.account_password_confirm.$error.validator)}"
      />
      <span ng-show="vm.passwordForm.account_password_confirm.$dirty &amp;&amp; vm.passwordForm.account_password_confirm.$error.required" class="text-danger">* This field is required</span>
      <span ng-show="vm.passwordForm.account_password_confirm.$dirty &amp;&amp; vm.passwordForm.account_password_confirm.$error.validator" class="text-danger">* Password does Not match</span>
   </div>
   <div class="form-item form-item-margin-2x">
      <button type="submit" ng-disabled="processing" md-ink-ripple="md-ink-ripple" class="btn button">SIGN IN</button>
   </div>
</form>
<div ng-show="vm.errMsg || vm.invalidMsg" class="form-item form-item-margin-2x alert alert-danger text-center">{{vm.errMsg || vm.invalidMsg}}</div>