<div class="login-container">
   <!-- Logo Image-->
   <div class="logo">
      <img src="assets/logo-single.png" class="logo-image" />
      <img src="assets/logo.png" class="logo-text" />
   </div>
   <!-- START panel-->
   <div class="panel block-center sent-link-panel block-center text-center col-md-4 col-sm-6">
      <div class="panel-body"><i class="sent-icon material-icons">done</i>
         <h4 class="header-title text-uppercase">Reset your password</h4>
         <p class="header-text">A link have been sent to your email address(user.1@gmail.com).
            <br/>If you can not find the link check your spam folder.</p>
         <button ui-sref="page.login" class="btn btn-block btn-info wd-xl text-uppercase">Sign in</button>
         <div class="clearfix resent_link wd-xl">
            <div class="pull-right"><a ng-click="vm.resendLink()">Resend link here</a>
            </div>
         </div>
      </div>
   </div>
   <!-- END panel-->
</div>