<form ng-controller="AuthLoginCtrl as vm" role="form" ng-submit="vm.login()" name="vm.loginForm" novalidate="" ng-autodisable="ng-autodisable" class="auth-form form-validate">
   <div class="form-item form-item-margin">
      <input type="email" name="email" placeholder="Email" autocomplete="off" ng-model="vm.account.email" required="" ng-class="{'input-danger': vm.loginForm.email.$dirty &amp;&amp; (vm.loginForm.email.$error.required || vm.loginForm.email.$error.email)}"
      />
      <span ng-show="vm.loginForm.email.$dirty &amp;&amp; vm.loginForm.email.$error.required" class="text-danger">* This field is required</span>
      <span ng-show="vm.loginForm.email.$dirty &amp;&amp; vm.loginForm.email.$error.email" class="text-danger">* This field must be a valid email address</span>
   </div>
   <div class="form-item form-item-margin">
      <input type="password" name="password" placeholder="Password" ng-model="vm.account.password" required="" ng-class="{'input-danger': vm.loginForm.password.$dirty &amp;&amp; vm.loginForm.password.$error.required}" />
      <span ng-show="vm.loginForm.password.$dirty &amp;&amp; vm.loginForm.password.$error.required" class="text-danger">* This field is required</span>
   </div>
   <div class="form-item form-item-margin"><a ui-sref="page.forgot-password" class="form-link link-forgot-password">Forgot your password</a>
   </div>
   <div class="form-item form-item-margin-2x">
      <button type="submit" ng-disabled="vm.loading" md-ink-ripple="md-ink-ripple" class="btn button">SIGN IN</button>
   </div>
   <div class="form-item form-item-margin-2x"><a ui-sref="page.register" class="form-link text-right">SIGN UP</a>
   </div>
   <div ng-show="vm.errMsg" class="form-item form-item-margin-2x alert alert-danger text-center">{{vm.errMsg}}</div>
   <div ng-show="vm.okMsg" class="form-item form-item-margin-2x alert alert-success text-center">{{vm.okMsg}}</div>
   <div ng-show="vm.unverified &amp;&amp; vm.loginForm.email.$valid" class="form-item form-item-margin-2x alert alert-warning text-center"><a ng-click="vm.getVerified()" class="text-white">Click here if you did not get another copy of confirmation email</a>
   </div>
</form>