<form ng-controller="AuthRegisterCtrl as vm" role="form" name="vm.registerForm" novalidate="" ng-submit="vm.register()" ng-autodisable="ng-autodisable" class="auth-form has-subtitle form-validate">
   <div class="form-item form-item-margin">
      <input type="text" name="first_name" placeholder="First Name" autocomplete="off" ng-model="vm.account.first_name" required="" ng-class="{'input-danger': vm.registerForm.first_name.$dirty &amp;&amp; (vm.registerForm.first_name.$error.required)}" />
      <span ng-show="vm.registerForm.first_name.$dirty &amp;&amp; vm.registerForm.first_name.$error.required" class="text-danger">* First Name is required</span>
   </div>
   <div class="form-item form-item-margin">
      <input type="text" name="last_name" placeholder="Last name" autocomplete="off" ng-model="vm.account.last_name" required="" ng-class="{'input-danger': vm.registerForm.last_name.$dirty &amp;&amp; (vm.registerForm.last_name.$error.required)}" />
      <span ng-show="vm.registerForm.last_name.$dirty &amp;&amp; vm.registerForm.last_name.$error.required" class="text-danger">* Last Name is required</span>
   </div>
   <div class="form-item form-item-margin">
      <input type="email" name="email" placeholder="Email" autocomplete="off" ng-model="vm.account.email" required="" ng-class="{'input-danger': vm.registerForm.email.$dirty &amp;&amp; (vm.registerForm.email.$error.required || vm.registerForm.email.$error.email)}"
      />
      <span ng-show="vm.registerForm.email.$dirty &amp;&amp; vm.registerForm.email.$error.required" class="text-danger">* This field is required</span>
      <span ng-show="vm.registerForm.email.$dirty &amp;&amp; vm.registerForm.email.$error.email" class="text-danger">* This field must be a valid email address</span>
   </div>
   <div class="form-item form-item-margin">
      <input type="email" name="email_confirm" placeholder="Confirm email" ng-model="vm.email_confirm" ui-validate="'$value==vm.account.email'" ui-validate-watch="'email'" required="" ng-class="{'input-danger': vm.registerForm.email_confirm.$dirty &amp;&amp; (vm.registerForm.email_confirm.$error.validator)}"
      />
      <span ng-show="vm.registerForm.email_confirm.$dirty &amp;&amp; vm.registerForm.email_confirm.$error.validator" class="text-danger">* Email does Not match</span>
   </div>
   <div class="form-item form-item-margin">
      <input type="text" name="place_data" placeholder="Find location" ng-model="vm.ac_search" ng-autocomplete="" options="vm.ac_options" details="vm.ac_details" required="" ng-class="{'input-danger': vm.registerForm.place_data.$dirty &amp;&amp; (vm.registerForm.place_data.$error.required)}"
      class="has-icon-right" /><i class="input-icon-right icon-location-pin-full"></i>
      <span ng-show="vm.registerForm.place_data.$dirty &amp;&amp; vm.registerForm.place_data.$error.required" class="text-danger">* This field is required</span>
   </div>
   <div class="form-item form-item-margin-2x">
      <input type="checkbox" ng-required="true" name="terms_accepted" ng-model="vm.account.terms_accepted" ng-class="{'input-danger': vm.registerForm.terms_accepted.$dirty &amp;&amp; (vm.registerForm.terms_accepted.$error.required)}" />
      <div class="checkbox-label">I agree to the menuCLOUD terms and service agreement</div>
      <span ng-show="vm.registerForm.terms_accepted.$dirty &amp;&amp; vm.registerForm.terms_accepted.$error.required" class="text-danger">* You must agree the terms</span>
   </div>
   <div class="form-item form-item-margin-2x">
      <button type="submit" ng-disabled="processing" md-ink-ripple="md-ink-ripple" class="btn button">SIGN UP</button>
   </div>
   <div ng-show="vm.errMsg" class="form-item form-item-margin-2x alert alert-danger text-center">{{vm.errMsg}}</div>
   <div ng-show="vm.okMsg" class="form-item form-item-margin-2x alert alert-success text-center">{{vm.okMsg}}</div>
</form>