<!-- START Off Sidebar (right)-->
<nav>
   <uib-tabset justified="true">
      <uib-tab>
         <uib-tab-heading>
            <em class="icon-equalizer fa-lg"></em>
         </uib-tab-heading>
         <div ng-include="'app/views/layout/offsidebar-tab1.html'"></div>
      </uib-tab>
      <uib-tab>
         <uib-tab-heading>
            <em class="icon-user fa-lg"></em>
         </uib-tab-heading>
         <div>
            <div ng-include="'app/views/layout/offsidebar-tab2.html'"></div>
         </div>
      </uib-tab>
   </uib-tabset>
</nav>
<!-- END Off Sidebar (right)-->