<div ng-controller="DashboardCtrl as vm" ng-class="{'has-sub-topnavbar': app.layout.hasSubTopNavBar}" class="page-main-container">
   <div class="logo-wrapper">
      <img src="/app/img/Logo3.png" class="full-image" />
   </div>
   <div class="row dashboard-items">
      <div class="col col-sm-6 dashboard-item">
         <img src="/app/img/dashboard/Menus.png" class="full-image" />
         <div class="dashboard-item-wrapper vertical-mid-container">
            <div class="dashboard-item-content vertical-mid-inner">
               <img src="app/img/icons/Menu_icon.png" class="full-image" />
               <h3>MENUS</h3>
               <a href="">
                  <span>CREATE YOUR FIRST MENU</span>
                  <em class="icon-arrow-right"></em>
               </a>
            </div>
         </div>
      </div>
      <div class="col col-sm-6">
         <div class="col col-sm-12 dashboard-item">
            <img src="/app/img/dashboard/Restaurant_Background.png " class="full-image" />
            <div class="dashboard-item-wrapper vertical-mid-container">
               <div class="dashboard-item-content vertical-mid-inner">
                  <img src="app/img/icons/Icon_restaurant.png" class="full-image" />
                  <h3>RESTAURANTS</h3>
                  <a ui-sref="app.restaurant-overview">
                     <span>MANAGE YOUR RESTAURANTS</span>
                     <em class="icon-arrow-right"></em>
                  </a>
               </div>
            </div>
         </div>
         <div class="col col-sm-6 col-xs-6 dashboard-item">
            <img src="/app/img/dashboard/Learn_Basics.png" class="full-image" />
            <div class="dashboard-item-wrapper vertical-mid-container">
               <em class="help-button icon-help"></em>
               <div class="dashboard-item-content-2">
                  <h3>LEARN THE BASICS</h3>
                  <p>LEARN WHAT MENU CLOUD HAS TO OFFER</p>
               </div>
            </div>
         </div>
         <div class="col col-sm-6 col-xs-6 dashboard-item">
            <img src="/app/img/dashboard/Need_help.png" class="full-image" />
            <div class="dashboard-item-wrapper vertical-mid-container">
               <em class="help-button icon-help"></em>
               <div class="dashboard-item-content-2">
                  <h3>NEED SOME HELP?</h3>
                  <p>GET IN TOUCH WITH OUR SUPPORT</p>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>