<div ng-controller="RestaurantCtrl as vm" ng-class="{'has-sub-topnavbar': app.layout.hasSubTopNavBar}" class="page-main-container">
   <div class="text-center">
      <h3>Restaurant</h3>
      <div class="sub-section-tab-wrapper">
         <div ng-show="subtopnavbar.tabId==0" class="tab-wrapper">
            <p>Contact Page</p>
         </div>
         <div ng-show="subtopnavbar.tabId==1" class="tab-wrapper">
            <p>Access Page</p>
         </div>
      </div>
   </div>
</div>