<div ng-controller="RestaurantOverviewCtrl as vm" ng-class="{'has-sub-topnavbar': app.layout.hasSubTopNavBar}" class="page-main-container property-container">
   <div ng-click="addRestaurant()" class="add-button add-restaurant">ADD RESTAURANT</div>
   <div class="property-list restaurant-list">
      <div class="app-card restaurant-card">
         <div class="manage-restaurant"><a ui-sref="app.restaurant" class="icon-right icon-arrow2-right">MANAGE RESTAURANT A</a><i class="icon-star1 restaurant-favorite"></i>
         </div>
         <div class="restaurant-detail">
            <h2>Restaurant A</h2>
            <p>1616 Carroll, New York, 74 493</p>
            <div ng-hide="restaurant.edit" ng-click="restaurant.edit=true" class="edit-button icon-option1"></div>
            <div ng-show="restaurant.edit">
               <div ng-click="restaurant.edit=false" class="edit-button icon-option2"></div>
               <div ng-click="deleteRestaurant(restaurant)" class="delete-button icon-trash"></div>
            </div>
         </div>
      </div>
   </div>
</div>