// START Top Navbar
nav.navbar.topnavbar(role='navigation')
  // START navbar header
  .navbar-header.visible-xs
    // Nav bar Title
    .mobile-nav-title-wrapper
      h3.navbar-title {{topnavbar.title}}
  // END navbar header

  // START Nav wrapper
  .nav-wrapper
    // Nav bar Title
    .nav-title-wrapper.vertical-mid-container.hidden-xs
      h3.navbar-title.vertical-mid-inner.hidden-xs {{topnavbar.title}}
    // START Left navbar
    ul.nav.navbar-nav
      li.hidden-xs
        // Button used to collapse the left sidebar. Only visible on tablet and desktops
        a.vertical-mid-container(href='', trigger-resize="", ng-click="app.layout.isCollapsed = !app.layout.isCollapsed")
          em.vertical-mid-inner.icon-menu-topbar
      li.mobile-menu-toggle.visible-xs
        // Button used to collapse the left sidebar. Only visible on tablet and desktops
        a.vertical-mid-container(href='', trigger-resize="", ng-click="app.layout.isCollapsed = !app.layout.isCollapsed")
          em.vertical-mid-inner.icon-menu-topbar

      // Full-screen button //.visible-lg
      li.hidden-xs
        a.vertical-mid-container(href='', toggle-fullscreen)
          em.vertical-mid-inner.icon-full-screen
    // END Left navbar

    // START Right Navbar
    ul.nav.navbar-nav.navbar-right
      // Notification Button
      li.dropdown.dropdown-list(uib-dropdown='')
        a.vertical-mid-container.dropdown-toggle(href='', ng-click='' uib-dropdown-toggle='' aria-haspopup='' aria-expanded='')
          em.vertical-mid-inner.icon-notification
        .dropdown-menu.dropdown-menu-notification
          a.notification-item
            .top-right-part
              i.icon-x.close-icon-btn
              span.sent-time 09:13 AM
            .notification-content
              .green-dot
              .notification-title Notification one
              .notification-des This is a regular notification
          a.notification-item
            .top-right-part
              i.icon-x.close-icon-btn
              span.sent-time 09:13 AM
            .notification-content
              .green-dot
              .notification-title Notification two
              .notification-des This is a regular notification
          a.notification-item
            .top-right-part
              i.icon-x.close-icon-btn
              span.sent-time 09:13 AM
            .notification-content
              .green-dot
              .notification-title Notification three
              .notification-des This is a regular notification
          a.close-all-notification Close all notifications

      // Help Button
      li
        a.vertical-mid-container(href='', ng-click='')
          em.vertical-mid-inner.icon-support

      // User Profile button
      li.dropdown.dropdown-list(uib-dropdown='')
        a.vertical-mid-container.dropdown-toggle(href='', ng-click='' uib-dropdown-toggle='' aria-haspopup='' aria-expanded='')
          div.vertical-mid-inner.user-profile-topbar-button {{user.first_name.charAt(0).toUpperCase()+user.last_name.charAt(0).toUpperCase()}}
        .dropdown-menu.dropdown-menu-profile
          .lock-screen-container
            a.lock-screen-btn(ui-sref="page.lock") LOCK SCREEN
              i.lock-icon.icon-lock-open
          .user-info-container
            .user-photo {{user.first_name.charAt(0).toUpperCase()+user.last_name.charAt(0).toUpperCase()}}
            .user-full-name {{user.first_name}} {{user.last_name}}
          .item-list-container
            ul
              li
                a(ui-sref="app.profile") Profile
              li
                a(href='', ng-click='$logout()') Sign out

    //ul.nav.navbar-nav.navbar-right.visible-xs
      // User Profile button
      li.dropdown.dropdown-list(uib-dropdown='')
        a.vertical-mid-container.dropdown-toggle(href='', ng-click='' uib-dropdown-toggle='' aria-haspopup='' aria-expanded='')
          div.vertical-mid-inner.user-profile-topbar-button {{user.first_name.charAt(0).toUpperCase()+user.last_name.charAt(0).toUpperCase()}}
        .dropdown-menu.dropdown-menu-profile
          .lock-screen-container
            a.lock-screen-btn(ui-sref="page.lock") LOCK SCREEN
              i.lock-icon.icon-lock-open
          .user-info-container
            .user-photo {{user.first_name.charAt(0).toUpperCase()+user.last_name.charAt(0).toUpperCase()}}
            .user-full-name {{user.first_name}} {{user.last_name}}
          .item-list-container
            ul
              li
                a Profile
              li
                a(href='', ng-click='$logout()') Sign out

      // START lock screen
      // li
        // a(ui-sref="page.lock" title="Lock screen")
           // em.icon-lock
      // END lock screen
      // Fullscreen (only desktops)
      // li.visible-lg
        // a(href='', toggle-fullscreen)
          // em.fa.fa-expand

      //li
        // Button used to toggle profile block on menu
        //- .dropdown
          .btn.btn-default.dropdown-toggle#profileMenu(data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" )
            em.icon-user
        a(href='', ng-click="$logout()" alt="Logout")
          em.icon-logout
          span Logout
      // Search icon
      //- li
        a(search-open="")
          em.icon-magnifier
      // START Offsidebar button
      //- li
        a(href='', ng-click="app.offsidebarOpen = !app.offsidebarOpen")
          em.icon-notebook
      // END Offsidebar menu
    // END Right Navbar
  // END Nav wrapper

  // START Search form
  //- form.navbar-form(role='search', action="search.html")
  //-   .form-group.has-feedback
  //-     input.form-control(type='text', placeholder="{{ 'topbar.search.PLACEHOLDER' | translate }}")
  //-     .fa.fa-times.form-control-feedback(search-dismiss)
  //-   button.hidden.btn.btn-default(type='submit') Submit
  // END Search form

// END Top Navbar