<div class="help-contact-button icon-left icon-need-help">Need help contact support&nbsp;<a href="">here</a>
</div>
<div class="property-list">
   <div class="property-wrapper property-billing-info">
      <div class="property-title float-left">
         <h4>Billing information</h4>
      </div>
      <div class="property-billing-detail float-left">Payment method: Visa ending in 7349</div>
      <div class="property-billing-update float-right text-center">
         <p>Update payment details</p>
         <div class="subform-item item-button">
            <button md-ink-ripple="md-ink-ripple" ng-click="editBillingInfo()" class="positive-button">Edit</button>
         </div>
      </div>
   </div>
   <div class="float-clear"></div>
   <div class="property-wrapper property-billing-table">
      <table>
         <thead>
            <tr>
               <th ng-repeat="field in billingInfo.fields">{{field.name}}</th>
            </tr>
         </thead>
         <tbody>
            <tr ng-repeat="data in billingInfo.data">
               <td>{{data.date}}</td>
               <td>{{data.payment}}</td>
               <td>{{data.app}}</td>
               <td><i class="icon-table-view"></i>
               </td>
            </tr>
         </tbody>
      </table>
   </div>
</div>