<div ng-controller="ProfileCtrl as vm" ng-class="{'has-sub-topnavbar': app.layout.hasSubTopNavBar}" class="page-main-container property-container">
   <div class="sub-section-tab-wrapper">
      <div ng-show="subtopnavbar.tabId==0" ng-include="'app/views/profile/profile.html'" class="tab-wrapper"></div>
      <div ng-show="subtopnavbar.tabId==1" ng-include="'app/views/profile/manage-app.html'" class="tab-wrapper"></div>
      <div ng-show="subtopnavbar.tabId==2" ng-include="'app/views/profile/billing.html'" class="tab-wrapper"></div>
   </div>
</div>