<div class="help-contact-button icon-left icon-need-help">Need help contact support&nbsp;<a href="">here</a>
</div>
<div class="property-list">
   <div class="property-wrapper property-my-apps">
      <div class="property-title">
         <h4>MY APPS</h4>
      </div>
      <!--/// App Card Start-->
      <div ng-repeat="app in myAppsInfo" class="app-card my-app-card">
         <div class="item-button">
            <button md-ink-ripple="md-ink-ripple" ng-click="" class="positive-button">{{app.buttonText}}</button>
         </div>
         <div class="tab-bar">
            <div ng-class="{'activated': app.selectedTab==0}" ng-click="app.selectedTab=0" class="tab-item">DESCRIPTION</div>
            <div ng-class="{'activated': app.selectedTab==1}" ng-click="app.selectedTab=1" class="tab-item">DETAILS</div>
         </div>
         <div ng-show="app.selectedTab==0" class="tab-contents">
            <div class="logo">
               <img ng-src="{{app.description.logo.img}}" ng-if="app.description.logo.img!=''" />
               <h2 ng-if="app.description.logo.title!=''">{{app.description.logo.title}}</h2>
            </div>
            <div class="role">{{app.description.role}}</div>
            <p>{{app.description.text}}</p>
         </div>
         <div ng-show="app.selectedTab==1" class="tab-contents">
            <div ng-repeat="detail in app.detail" class="row">
               <div class="detail-field col col-sm-3">{{detail.name}}:</div>
               <div class="col col-sm-8">
                  <span ng-repeat="item in detail.data" class="{{detail.css}}">{{item.val}}</span>
               </div>
            </div>
         </div>
      </div>
      <!--/// App Card End-->
      <div class="contact-wrapper text-center">
         <p>Have an idea? we want to here about it!</p>
         <div class="subform-item item-button">
            <button md-ink-ripple="md-ink-ripple" ng-click="" class="positive-button">CONTACT</button>
         </div>
      </div>
   </div>
</div>