<div ng-show="vm.okMsg" class="success-feedback-alert">{{vm.okMsg}}</div>
<!-- .verify-email-alert.logo
  img(src="app/img/Logo4.png")
h2 Verify your email
p A link have been sent to the new email, check the spam folder.-->
<div class="property-list">
   <div class="property-wrapper">
      <div class="property-title">
         <h4>Profile</h4>
      </div>
      <div class="property-profile-img">{{user.first_name.charAt(0).toUpperCase()+user.last_name.charAt(0).toUpperCase()}}</div>
      <div class="property-item-group">
         <div ng-click="" class="property-item icon-right icon-edit-pencil">{{user.first_name}}</div>
      </div>
      <div class="property-item-group">
         <div ng-click="" class="property-item icon-right icon-edit-pencil">{{user.last_name}}</div>
      </div>
      <div class="property-item-group">
         <div ng-click="profile.email.edit=true" ng-hide="profile.email.edit" class="property-item icon-right icon-edit-pencil">{{user.email}}</div>
         <div ng-show="profile.email.edit" class="property-item-subform">
            <div class="property-item">{{user.email}}</div>
            <div class="subform-item item-input">
               <span class="input-label">New email</span>
               <input type="email" placeholder="" />
            </div>
            <div class="subform-item item-input">
               <span class="input-label">Confirm new email</span>
               <input type="email" placeholder="" />
            </div>
            <div class="subform-item item-button">
               <button md-ink-ripple="md-ink-ripple" ng-click="profile.email.edit=false" class="positive-button">SAVE</button>
            </div>
         </div>
      </div>
   </div>
   <div class="property-wrapper">
      <div class="property-title">
         <h4>Password</h4>
      </div>
      <div class="property-item-group">
         <div ng-click="profile.password.edit=true" ng-hide="profile.password.edit" class="property-item icon-right icon-edit-pencil">&#9679;&nbsp;&#9679;&nbsp;&#9679;&nbsp;&#9679;&nbsp;&#9679;&nbsp;&#9679;&nbsp;&#9679;&nbsp;&#9679;</div>
         <form role="form" name="vm.passwordForm" novalidate="" ng-submit="vm.changePassword()" ng-show="profile.password.edit" class="property-item-subform">
            <div class="subform-item item-input">
               <span class="input-label">Current password</span>
               <input type="password" name="password" ng-model="vm.account.password" placeholder="" ng-pattern="/^[a-zA-Z0-9]{8,32}$/" required="" />
               <span ng-show="vm.passwordForm.password.$dirty &amp;&amp; vm.passwordForm.password.$error.required" class="text-danger">* This field is required</span>
               <span ng-show="vm.passwordForm.password.$dirty &amp;&amp; vm.passwordForm.password.$error.pattern" class="text-danger">* Input should match 'a-zA-Z0-9' and 8-32 length</span>
            </div>
            <div class="subform-item item-input">
               <span class="input-label">New password</span>
               <input type="password" name="new_password" ng-model="vm.account.new_password" placeholder="" ng-pattern="/^[a-zA-Z0-9]{8,32}$/" required="" />
               <span ng-show="vm.passwordForm.new_password.$dirty &amp;&amp; vm.passwordForm.new_password.$error.required" class="text-danger">* This field is required</span>
               <span ng-show="vm.passwordForm.new_password.$dirty &amp;&amp; vm.passwordForm.new_password.$error.pattern" class="text-danger">* Input should match 'a-zA-Z0-9' and 8-32 length</span>
            </div>
            <div class="subform-item item-input">
               <span class="input-label">Confirm password</span>
               <input type="password" name="confirm_password" ng-model="vm.account.confirm_password" placeholder="" ui-validate="'$value==vm.account.new_password'" ui-validate-watch="'new_password'" required="" />
               <span ng-show="vm.passwordForm.confirm_password.$dirty &amp;&amp; vm.passwordForm.confirm_password.$error.required" class="text-danger">* This field is required</span>
               <span ng-show="vm.passwordForm.confirm_password.$dirty &amp;&amp; vm.passwordForm.confirm_password.$error.validator" class="text-danger">* Password does Not match</span>
            </div>
            <div class="subform-item item-button">
               <button type="submit" md-ink-ripple="md-ink-ripple" ng-disabled="processing" class="positive-button">SAVE</button>
            </div>
            <div class="subform-item">
               <div ng-show="vm.errMsg" class="alert-danger text-center">{{vm.errMsg}}</div>
            </div>
         </form>
      </div>
   </div>
   <div class="property-wrapper">
      <div class="property-title">
         <h4>Tutorial</h4>
      </div>
      <div class="property-item-group">
         <div ng-click="" class="property-item no-border-bottom icon-right icon-type-on">Turn ON/OFF tutorial</div>
      </div>
   </div>
</div>